<ion-header class="ion-no-border" style="width: 100%; display: flex; flex-direction: column; align-items: center; padding: 20px 0 0; --background: #fff !important; background: #ffffff;">
  <div style="position:relative; height: 100%; width: 90%; background: #ffffff; color: #000;">

    <div style="display: flex; justify-content: space-between;align-items: center; color: #000;  
        background: #fff;">
      <div (click)="goprofile()" style="display: flex; align-items: center; padding-right: 10px;">
        <div
          style="background-color: #FFFFFF; min-width: 50px; max-width: 50px; min-height: 50px;max-height: 50px; display:flex; justify-content:center; align-items:center; border-radius: 50%; border: 1.5px solid #CBDF7D; margin-right: 10px;">
          <img src="{{user.profile_image || 'https://nanogbucket.s3.ap-southeast-1.amazonaws.com/nano/nanog/1673430796044lcrhhkak9.png'}}"
            style="background-color: #FFFFFF; object-fit: cover; border-radius: 50%; min-width: 47px; max-width: 47px; min-height: 47px;max-height: 47px;" />
        </div>
      </div>

      <!-- <div style="display: flex; align-items: center;">
        <div (click)="addLead()" style="margin-right: 5px;">
          <ion-icon style="font-size: 18px;" name="add-circle-outline"></ion-icon>
        </div>
        <div (click)="homecalendar()">
          <ion-icon style="font-size: 18px;" name="calendar-outline"></ion-icon>
        </div>
      </div> -->
      <div style="width: fit-content; display:grid; grid-template-columns: auto auto auto; gap: 10px; background: #D0ECF5; border-radius: 20px; padding: 10px 20px;">

        <div style="text-align: center; display: grid; place-content: center; place-items: center; place-self: center;">
          <div style="position: relative; width: fit-content;">
          <ion-icon (click)="getreminder()" name="alarm-outline" style="font-size: 16px; border: 1px solid #E7F6FF; background: #fff; border-radius: 50%; padding: 12px; color: red;"></ion-icon>
          <div style="position: absolute; background:red; height: 13px; width: 13px; display: flex; justify-content: center; align-items: center; color: white; border-radius: 50%; font-size: 8px;  bottom: 2px; right: 2px;">{{remindercount1}}</div>
          <div style="position: absolute; background:red; height: 13px; width: 13px; display: flex; justify-content: center; align-items: center; color: white; border-radius: 50%; font-size: 8px;  bottom: 2px; left: 50%; transform: translate(-50%, 0);">{{remindercount3}}</div>
          <div style="position: absolute; background:red; height: 13px; width: 13px; display: flex; justify-content: center; align-items: center; color: white; border-radius: 50%; font-size: 8px; bottom: 2px; left: 2px;">{{remindercount7}}</div>
          </div>
          <div style="font-size: 11px; font-weight: bold;">Reminder</div>
        </div>

        <div style="text-align: center; display: grid; place-content: center; place-items: center; place-self: center;">
          <div style="position: relative; width: fit-content;">
            <ion-icon (click)="goNotificationHistory()" name="notifications-outline" style="font-size: 16px; border: 1px solid #E7F6FF; background: #fff; border-radius: 50%; padding: 12px; color: orange;"></ion-icon>
            <div style="position: absolute; background:red; height: 13px; width: 13px; display: flex; justify-content: center; align-items: center; color: white; border-radius: 50%; font-size: 8px; bottom: 2px; right: 2px;">{{notificationcount}}</div>
          </div>

          <div style="font-size: 11px; font-weight: bold;">Notification</div>
        </div>

        <div style="text-align: center; display: grid; place-content: center; place-items: center; place-self: center;">
          <div style="position: relative; width: fit-content;">
            <ion-icon (click)="gomeeting()" name="calendar-outline" style="font-size: 16px;  border: 1px solid #E7F6FF; background: #fff; border-radius: 50%; padding: 12px; color: green;"></ion-icon>
            <div style="position: absolute; background:red;height: 13px; width: 13px; display: flex; justify-content: center; align-items: center; color: white; border-radius: 50%; font-size: 8px;  bottom: 2px; right: 2px;">{{meetingtaskcount}}</div>
          </div>
          <div style="font-size: 11px; font-weight: bold;">Meeting</div>

        </div>

      </div>


    </div>

    <div style="display: flex; flex-direction: column; justify-content:center; width: 100%; margin-top: 20px;">
      <div style="font-size: 16px; font-weight: 400;">{{user.user_role}}</div>
      <div style="font-size: 34px; font-weight: 600;">{{user.user_name}} </div>
    </div>

    </div>
</ion-header>
<ion-content style="background: #fff; overflow: hidden;">
  <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
    <div style="width: 85%; display: grid; grid-template-columns: repeat(4, 1fr); gap: 20px; height: 80%;">
      <div (click)="goupcomingtask()" style="grid-area: 1 / 1 / 2 / 3; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center; flex-wrap: wrap; width: 100%;
       height: 100%; border-radius: 20px; background: #C4F1CD; color: #000; padding: 10px 15px; text-align: center;box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.08);">
        <div style="width: 55%; object-fit: contain; border-radius: 50%; background: #fff; padding: 10px; display: flex; align-items: center;">
          <img src="assets/task3.png" style="width: 100%;">
         </div>
        <div style="font-weight: 600; min-height: 50px; display: flex; align-items: center;">Upcoming Task</div>
      </div>
      <div (click)="gopending()" style="grid-area: 1 / 3 / 2 / 5; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center; flex-wrap: wrap; width: 100%;
       height: 100%; border-radius: 20px; background: #FDF5E4; color: #000; padding: 10px 15px; text-align: center; box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.08);">
        <div style="width: 55%; object-fit: contain; border-radius: 50%; background: #fff; padding: 10px; display: flex; align-items: center;">
          <img src="assets/task68.gif" style="width: 100%; border-radius: 50%;">
         </div>
        <div style="font-weight: 600; min-height: 50px; display: flex; align-items: center;">Pending Approval</div>
      </div>
      <div (click)="gotaskall()" style="grid-area: 2 / 1 / 3 / 3; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center; flex-wrap: wrap; width: 100%;
       height: 100%; border-radius: 20px; background: #E8E6F6; color: #000; padding: 10px 15px; text-align: center;box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.08);">
       <div style="width: 55%; object-fit: contain; border-radius: 50%; background: #fff; padding: 10px; display: flex; align-items: center;">
        <img src="assets/task66.png" style="width: 100%;">
       </div>
        <div style="font-weight: 600; min-height: 50px; display: flex; align-items: center;">All My Job</div>
      </div>
      <div (click)="homecalendar()" style="grid-area: 2 / 3 / 3 / 5; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center; flex-wrap: wrap; width: 100%;
       height: 100%; border-radius: 20px; background: #D0ECF5; color: #000; padding: 10px 15px; text-align: center;box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.08);">
        <div style="width: 55%; object-fit: contain; border-radius: 50%; background: #fff; padding: 10px; display: flex; align-items: center;">
          <img src="assets/calendar64.png" style="width: 100%;">
         </div>
        <div style="font-weight: 600; min-height: 50px; display: flex; align-items: center;">Installation Schedule</div>
      </div>
      <div style="grid-area: 3 / 1 / 4 / 3; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center; flex-wrap: wrap; width: 100%;
       height: 100%; border-radius: 20px; background: #FAEBE8; color: #000; padding: 10px 15px; text-align: center;box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.08);">
        <div style="width: 55%; object-fit: contain; border-radius: 50%; background: #fff; padding: 10px; display: flex; align-items: center;">
          <img src="assets/complain64.png" style="width: 100%;">
         </div>
        <div style="font-weight: 600; min-height: 50px; display: flex; align-items: center;">Complain</div>
      </div> 
      <div (click)="addLead()" style="grid-area: 3 / 3 / 4 / 5; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center; flex-wrap: wrap; width: 100%;
       height: 100%; border-radius: 20px; background: #EFF7E4; color: #000; padding: 10px 15px; text-align: center;box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.08);">
        <div style="width: 55%; object-fit: contain; border-radius: 50%; background: #fff; padding: 10px; display: flex; align-items: center;">
          <img src="assets/people64.png" style="width: 100%;">
         </div>
        <div style="font-weight: 600; min-height: 50px; display: flex; align-items: center;">All My Leads</div>
      </div>
    </div>
  </div>


    <!-- <div style="width: 100%; display: grid; grid-template-columns: repeat(auto-fill, minmax(100px, 1fr))">
      <div >
        <div>Upcoming Task</div>
      </div>
      <div >
        <div>Pending Approval</div>
      </div>
      <div>
        <div>All My Job</div>
      </div>
      <div >
        <div>Installation Schedule</div>
      </div>
      <div >
        <div>Complain</div>
      </div>
      <div >
        <div>All My Leads</div>
      </div>
    </div> -->
    
    <!-- <div style="width:100%; height: 100%;">
      <table style="width: 100%; height: 100%;">
        <tr>
          <td>1</td>
          <td>2</td>
        </tr>
        <tr>
          <td>4</td>
          <td>3</td>
        </tr>
        <tr>
          <td>5</td>
          <td>6</td>
        </tr>
      </table>
    </div> -->

</ion-content>

<ion-footer class="ion-no-border">
  <div style="width: 100%; padding: 6px 0 ; display: flex; justify-content: center;">
    <div style="width: 90%; text-align: right; font-size: 12px;">
      Version 1.0.33
    </div>
      
    </div>
</ion-footer>
