<ion-content>

  <div style="padding: 10px 0; width:100%; box-shadow: 0 2px 10px 0 #eeeeee; display:flex; justify-content: center;">
    <div style="width:90%; display:flex; justify-content: space-between; align-items: center;">
      <ion-icon name="close-outline" style="visibility: hidden;"></ion-icon>
      <div style="color: black; display:flex; justify-content:center; font-size: 16px; font-weight: 600;">
        Services
      </div>
      <ion-icon (click)="back()" name="close-outline" style="font-size: 16px;"></ion-icon>
    </div>
  </div>

  <div style="width: 100%; display: flex; justify-content: center;">

    <div style="width: 90%; margin-bottom: 24px;">

      <!-- <div style="background: #DEE9C9; margin-top: 32px; border-radius: 8px;">
        <ion-input *ngIf="sweetalert == true" placeholder="Where" disabled="true"
          style="font-size: 14px; --padding-start: 12px; --padding-top: 12px; --padding-bottom: 12px; --padding-end:10px;"
          [(ngModel)]="service.place"></ion-input>
        <ion-input *ngIf="sweetalert == false" placeholder="Where"
          style="font-size: 14px; --padding-start: 12px; --padding-top: 12px; --padding-bottom: 12px; --padding-end:10px;"
          [(ngModel)]="service.place"></ion-input>
      </div> -->


      <!-- <ion-list style="width: 100%; margin-top: 10px;">
        <ion-radio-group [allowEmptySelection]="true" [(ngModel)]="service.services"
          style="width: 100%; display: flex; align-items: center; justify-content: space-between;">
          <ion-item style="--background: #DEE9CB; border-radius: 8px; --border-radius: 8px; font-size: 12px; font-weight: 600; width: 50%; display: flex; align-items: center; justify-content: space-between; --padding-start: 2px; --padding-end: 0px; --inner-padding-start: 4px; --inner-padding-end: 4px;">
            <ion-label>Waterproof</ion-label>
            <ion-radio (ionFocus)="getservice($event)" color="success" slot="end" value="waterproof"></ion-radio>
          </ion-item>
          <ion-item style="--background: #DEE9CB; border-radius: 8px; --border-radius: 8px; font-size: 12px; font-weight: 600; width: 50%; display: flex; align-items: center; justify-content: space-between; --padding-start: 0px; --padding-end: 2px; --inner-padding-start: 4px; --inner-padding-end: 4px;">
            <ion-label>Anti-Slip</ion-label>
            <ion-radio (ionFocus)="getservice($event)" color="success" slot="end" value="antislip"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list> -->

      <div style="margin-top: 10px; width: 100%;">

        <div
          style="display: flex; justify-content:space-between; align-items: center; background: #C6D8A6;  border-radius: 8px; padding: 10px 16px; box-shadow: 0 1px 0 0 #CCCCCC;">
          <div style="font-size: 13px; font-weight:600;">Service</div>
        </div>

        <div style="width: 100%; display: flex; justify-content: space-between; margin-top: 5px; flex-wrap: wrap;">
          <div *ngFor="let x of servicelist; let i = index" style="width: calc((100% / 3) - 6px); margin: 3px;">
            <div
              [ngStyle]="{'background': service.services == x ? '#6DAD48' : '#DEE9CB', 'color' : service.services == x ? '#ffffff' : '#000000'}"
              (click)="getservice(i)"
              style="font-size: 11px; width: 100%; border-radius: 8px; display: flex; text-align: center; justify-content: center; align-items: center; height: 40px; box-shadow:  0 0 4px 0 #ddd; padding: 0 3px;">
              {{x}}</div>
          </div>
        </div>

      </div>

      <!-- <div style="margin-top: 10px; width: 100%;">
        <div (click)="servicedropdown = !servicedropdown" style="display: flex; justify-content:space-between; align-items: center; background: #C6D8A6; border-radius: 8px; padding: 12px 16px; box-shadow: 0 1px 0 0 #CCCCCC;">
          <div style="font-size: 14px; font-weight:600;">{{service.services || 'Select Service'}}</div>
          <ion-icon style="font-size: 20px;" [name]="servicedropdown == true ? 'chevron-down-outline' : 'chevron-forward-outline'"></ion-icon>
        </div>

        <div class="dropdown-container" *ngIf="servicedropdown == true" style="background: #DEE9CB; border-radius: 8px; width: 100%;">
          <div *ngFor="let x of servicelist; let i = index" style="width: 100%; display: flex; align-items: center;">
            <div (click)="getservice(i)" style="width: 100%; padding: 12px 16px; font-size: 12px;">{{x}}</div>
          </div>
        </div>
      </div> -->

      <div style="margin-top: 15px; width: 100%;">

        <div
          style="display: flex; justify-content:space-between; align-items: center; background: #C6D8A6; border-radius: 8px; padding: 10px 16px; box-shadow: 0 1px 0 0 #CCCCCC;">
          <div style="font-size: 13px; font-weight:600;">Area</div>
        </div>

        <div style="width: 100%; display: flex; justify-content:flex-start; margin-top: 5px; flex-wrap: wrap;">
          <div *ngFor="let x of arealist; let i = index" style="width: calc((100% / 3) - 6px); margin:3px;">
            <div
              [ngStyle]="{'background': service.area == x.name ? '#6DAD48' : '#DEE9CB', 'color' : service.area == x.name ? '#ffffff' : '#000000'}"
              (click)="getarea(i)" style="padding: 0 6px; font-size: 11px; width: 100%; border-radius: 8px; display: flex; justify-content: center; align-items: center; 
            height: 40px; box-shadow:  0 0 4px 0 #ddd; text-align: center; ">{{x.name}}</div>
          </div>
        </div>

      </div>


      <div *ngIf="service.area && service.area == 'others'"
        style="background: #DEE9CB; border-radius: 8px; padding: 12px 16px;">
        <!-- <div style="font-size: 14px; font-weight: 600; margin-bottom: 8px;">Area</div> -->
        <div style="display: flex; align-items:center; justify-content: space-between;">
          <ion-input placeholder="area" type="text" style="background: #E6EED7; padding: 8px 0; text-align: center; font-size: 14px; 
        --padding-start: 5px; --padding-end: 5px; border-radius: 4px; box-shadow: 0 0 4px 0 #CCCCCC;"
            [(ngModel)]="service.otherarea"></ion-input>
        </div>
      </div>


      <!-- <div style="margin-top: 10px; width: 100%;">
        <div (click)="areadropdown = !areadropdown" style="display: flex; justify-content:space-between; align-items: center; background: #C6D8A6; border-radius: 8px; padding: 12px 16px; 
        box-shadow: 0 1px 0 0 #CCCCCC;">
          <div style="font-size: 14px; font-weight:600;">{{service.area || 'Area'}}</div>
          <ion-icon style="font-size: 20px;"
            [name]="areadropdown == true ? 'chevron-down-outline' : 'chevron-forward-outline'"></ion-icon>
        </div>

        <div class="dropdown-container" *ngIf="areadropdown == true"
          style="background: #DEE9CB; border-radius: 8px; width: 100%;">
          <div *ngFor="let x of arealist; let i = index" style="width: 100%; display: flex; align-items: center;">
            <div (click)="getarea(i)" style="width: 100%; padding: 12px 16px; font-size: 12px;">{{x.name}}</div>
          </div>
        </div>
      </div> -->


      <!-- type-->
      <!-- <div style="margin-top: 15px; width: 100%;">

        <div style="display: flex; justify-content:space-between; align-items: center; background: #C6D8A6; border-radius: 8px; padding: 10px 16px; box-shadow: 0 1px 0 0 #CCCCCC;">
          <div style="font-size: 13px; font-weight:600;">Type</div>
        </div>

        <div style="width: 100%; display: flex; justify-content:flex-start; margin-top: 5px; flex-wrap: wrap;">
          <div *ngFor="let x of packagelist; let i = index" style="width: calc((100% / 3) - 6px); margin:3px;">
            <div [ngStyle]="{'background': service.packagetype == x ? '#6DAD48' : '#DEE9CB', 'color' : service.packagetype == x ? '#ffffff' : '#000000'}" (click)="getpackagetype(i)" 
            style="padding: 0 6px; font-size: 11px; width: 100%; border-radius: 8px; display: flex; justify-content: center; align-items: center; 
            height: 40px; box-shadow:  0 0 4px 0 #ddd; text-align: center; ">{{x}}</div>
          </div>
        </div>

      </div> -->

      <!-- <div style="margin-top: 15px; width: 100%;">
        <div (click)="packagedropdown = !packagedropdown" style="display: flex; justify-content:space-between; align-items: center; background: #C6D8A6; border-radius: 8px; padding: 12px 16px; 
        box-shadow: 0 1px 0 0 #CCCCCC; border: 1px solid #ddd;">
          <div style="font-size: 14px; font-weight:600;">{{service.packagetype || 'Package'}}</div>
          <ion-icon style="font-size: 20px;"
            [name]="packagedropdown == true ? 'chevron-down-outline' : 'chevron-forward-outline'"></ion-icon>
        </div>

        <div class="dropdown-container" *ngIf="packagedropdown == true"
          style="background: #DEE9CB; border-radius: 8px; width: 100%;">
          <div *ngFor="let x of packagelist; let i = index" style="width: 100%; display: flex; align-items: center;">
            <div (click)="getpackagetype(i)" style="width: 100%; padding: 12px 16px; font-size: 12px;">{{x}}</div>
          </div>
        </div>
      </div> -->

      <!-- <div (click)="nonpackage()"
      style="height: max-content; padding: 10px 16px; background:#E6EED7; margin-top: 5px; display: flex; justify-content: center;">
      
      <div
        style="font-size: 14px; width: max-content; background: #6DAD48; color: #ffffff; padding: 4px 8px; 
        border-radius: 4px; display: flex; justify-content: center; align-items: center; width: 95%;">
        <ion-icon name="nonpackagestatus ? checkbox-outline : square-outline"></ion-icon>Non package
      </div>
    </div> -->

      <div (click)="nonpackage()"
        style="margin-top: 20px; display: flex; background: #6DAD48; border-radius: 9999999px; align-items: center;
    color: #fff; display: flex; justify-content: center; border: 1px solid #3f791e; font-size: 14px; padding: 10px 0; font-weight: 600; gap: 5px;">
        <ion-icon name="{{nonpackagestatus ? 'checkbox-outline' : 'square-outline'}}"
          style="margin-right: 4px; font-size: 20px;"></ion-icon>
        <div>Click Here to Non-Package</div>
      </div>



      <div *ngIf="!nonpackagestatus" style="margin-top: 15px; width: 100%;">

        <div
          style="display: flex; justify-content:space-between; align-items: center; background: #C6D8A6; border-radius: 8px; padding: 10px 16px; box-shadow: 0 1px 0 0 #CCCCCC;">
          <div style="font-size: 13px; font-weight:600;">Sqft (package)</div>
        </div>

        <div style="display: flex; align-items:center; justify-content: space-between; margin-top: 10px;">
          <ion-input placeholder="Enter sqft" type="number" style="background: #E6EED7; padding: 8px 0; text-align: center; font-size: 14px; 
        --padding-start: 5px; --padding-end: 5px; border-radius: 4px; box-shadow: 0 0 4px 0 #CCCCCC;"
            [(ngModel)]="service.sqft" (ionInput)="dropdown = true"></ion-input>
        </div>



        <!-- <div *ngIf="service.services && service.area"
          style="width: 100%; display: flex; justify-content:flex-start; margin-top: 5px; flex-wrap: wrap;">
          <div *ngFor="let x of sizelist; let i = index" style="width: calc((100% / 3) - 6px); margin:3px;">
            <div
              [ngStyle]="{'background': service.sqft == x ? '#6DAD48' : '#DEE9CB', 'color' : service.sqft == x ? '#ffffff' : '#000000'}"
              (click)="getsqft(i)" style="padding: 0 6px; font-size: 11px; width: 100%; border-radius: 8px; display: flex; justify-content: center; align-items: center; 
            height: 40px; box-shadow:  0 0 4px 0 #ddd; text-align: center; ">{{x}}</div>
          </div>
        </div> -->

      </div>

      <!-- <div *ngIf="service.services && service.area" style="margin-top: 15px; width: 100%;">
        <div (click)="sizedropdown = !sizedropdown" style="display: flex; justify-content:space-between; align-items: center; background: #C6D8A6; border-radius: 8px; padding: 12px 16px; 
        box-shadow: 0 1px 0 0 #CCCCCC;">
          <div style="font-size: 14px; font-weight:600;">{{service.size || 'Sqft'}}</div>
          <ion-icon style="font-size: 20px;"
            [name]="sizedropdown == true ? 'chevron-down-outline' : 'chevron-forward-outline'"></ion-icon>
        </div>

        <div class="dropdown-container" *ngIf="sizedropdown == true"
          style="background: #DEE9CB; border-radius: 8px; width: 100%;">
          <div *ngFor="let x of sizelist; let i = index" style="width: 100%; display: flex; align-items: center;">
            <div (click)="getsize(i)" style="width: 100%; padding: 12px 16px; font-size: 12px;">{{x}}</div>
          </div>
        </div>
      </div> -->

      <div *ngIf="!nonpackagestatus"
        style="margin-top: 20px; width: 100%; display: flex; justify-content: right; font-size: 14px;">
        <div (click)="changeToRemove()" style="display: flex; align-items: center;">
          <ion-icon style="font-size: 12px;" *ngIf="!remove" name="square-outline"></ion-icon>
          <ion-icon style="font-size: 12px;" *ngIf="remove" name="checkbox-outline"></ion-icon>
          <div style="margin-left: 2px;">Removal</div>
        </div>
      </div>


      <div *ngIf="!nonpackagestatus" style="background: #DEE9CB; margin-top: 5px; border-radius: 8px;">
        <div (click)="dropdownlist()" style="display: flex; justify-content:space-between; align-items: center; background: #C6D8A6; border-radius: 8px; padding: 12px 16px; 
            box-shadow: 0 1px 0 0 #CCCCCC;">
          <div style="font-size: 14px; font-weight:600;">{{service.package ? service.package.name + ' (' +
            service.package.area + ') (' + service.package.service + ')' : 'Select Package'}}
          </div>
          <ion-icon style="font-size: 16px;"
            name="{{dropdown == false ? 'chevron-forward-outline' : 'chevron-down-outline'}}"></ion-icon>
        </div>
        <!-- <div *ngIf="dropdown" style="width: 100%; display: flex; justify-content: center; margin: 4px 0;">
          <div *ngIf="dropdown" style="width: 96%; box-shadow: 0 0 6px 0 #cccccc;">
            <ion-input (ionInput)="filterer(packages)" placeholder="Search..." [(ngModel)]="filterword"
              style="width:100%; font-size: 12px; background: transparent;"></ion-input>
          </div>
        </div> -->
        <div class="dropdown-container" *ngIf="dropdown" style="background: #DEE9CB; border-radius: 8px; width: 100%;">
          <div *ngFor="let x of filterer(package_install);let i = index" style="height: max-content;"
            [ngStyle]="{'border-bottom': i == (packages.length - 1) ? '' : '1px solid #999' }">
            <div style="width: 100%; display: flex; align-items: center;">
              <div (click)="getpackage(x)" style="width: 90%; padding: 12px 16px; font-size: 12px;">
                {{x.name}}
              </div>
              <ion-icon (click)="getdropdownitemdetail(x)" name="information-circle-outline"
                style="font-size: 22px; width: 10%; text-align: center; display: flex; align-items: center; justify-content: center; color: #6DAD48;">
              </ion-icon>
            </div>
            <div *ngIf="x.detailstatus"
              style="width: 100%; display: flex; justify-content: center; margin-bottom: 6px;">
              <div style="width: 90%; font-size: 12px; padding: 8px; border-top: 1px solid #999;">
                <div style="display: flex;padding:4px 0 ;">
                  <div>Price :</div>{{x.amount | currency : 'RM '}}
                </div>
                <div style="display: flex;padding:4px 0 ;">
                  <div>Area :</div>{{x.area}}
                </div>
                <!-- <div style="display: flex;padding:4px 0 ;">
                  <div>Size :</div>
                  <div style="display: flex;">
                    <div>{{x.min_sqft}}</div>
                    <div>-</div>
                    <div>{{x.max_sqft}}</div>
                  </div>
                </div> -->
                <div style="display: flex;padding:4px 0 ;">
                  <div>Service :</div>{{x.service}}
                </div>
                <div style="display: flex;padding:4px 0 ;">
                  <div>Type :</div>{{x.job_type}}
                </div>
              </div>
            </div>
          </div>

          <div (click)="nonpackage()" *ngIf="dropdown && service.services && service.area"
            style="height: max-content; padding: 10px 16px;">
            <div
              style="font-size: 14px; width: max-content; background: #6DAD48; color: #ffffff; padding: 4px 8px; border-radius: 4px; display: flex; justify-content: center; align-items: center;">
              Non package
            </div>
          </div>

        </div>
      </div>


      <div *ngIf="nonpackagestatus"
        style="background: #DEE9CB; border-radius: 8px; padding: 12px 16px; margin-top: 10px;">
        <div style="font-size: 14px; font-weight: 600; margin-bottom: 8px;">Size - sqft (non-package)</div>
        <div style="display: flex; align-items:center; justify-content: space-between;">
          <ion-input placeholder="sqft" type="number" style="background: #E6EED7; padding: 8px 0; text-align: center; font-size: 14px; 
        --padding-start: 5px; --padding-end: 5px; border-radius: 4px; box-shadow: 0 0 4px 0 #CCCCCC;"
            [(ngModel)]="service.size" (ionInput)="calculateothersubtotal()"></ion-input>
          <!-- <ion-input (ionInput)="setsqft()" placeholder="Width (ft)" type="number" style="background: #E6EED7; padding: 8px 0; text-align: center; font-size: 14px; 
        --padding-start: 5px; --padding-end: 5px; border-radius: 4px; box-shadow: 0 0 4px 0 #CCCCCC;" [(ngModel)]="service.width"></ion-input> -->
          <!-- <ion-input placeholder="Width (ft)" type="number" style="background: #E6EED7; padding: 8px 0; text-align: center; font-size: 14px; 
        --padding-start: 5px; --padding-end: 5px; border-radius: 4px; box-shadow: 0 0 4px 0 #CCCCCC;"
          [(ngModel)]="service.width"></ion-input> -->

          <!-- <ion-icon name="close-outline" style="font-size: 14px; margin: 0 12px;"></ion-icon> -->

          <!-- <ion-input (ionInput)="setsqft()" placeholder="Length (ft)" type="number" style="background: #E6EED7; padding: 8px 0; text-align: center; font-size: 14px; 
        --padding-start: 5px; --padding-end: 5px; border-radius: 4px; box-shadow: 0 0 4px 0 #CCCCCC;" [(ngModel)]="service.height"></ion-input> -->
          <!-- <ion-input placeholder="Length (ft)" type="number" style="background: #E6EED7; padding: 8px 0; text-align: center; font-size: 14px; 
        --padding-start: 5px; --padding-end: 5px; border-radius: 4px; box-shadow: 0 0 4px 0 #CCCCCC;"
          [(ngModel)]="service.height"></ion-input> -->
        </div>
      </div>

      <div *ngIf="nonpackagestatus"
        style="background: #DEE9CB; border-radius: 8px; padding: 12px 16px; margin-top: 10px;">
        <div style="font-size: 14px; font-weight: 600; margin-bottom: 8px;">Size Rate (non-package)</div>
        <div style="display: flex; align-items:center; justify-content: space-between;">
          <ion-input placeholder="0" type="number" style="background: #E6EED7; padding: 8px 0; text-align: center; font-size: 14px; 
      --padding-start: 5px; --padding-end: 5px; border-radius: 4px; box-shadow: 0 0 4px 0 #CCCCCC;"
            [(ngModel)]="service.sizerate" (ionInput)="calculateothersubtotal()"></ion-input>
        </div>
      </div>

      <div style="margin-top: 30px; width: 100%;">
        <!-- <div style="display: flex; justify-content:space-between; align-items: center; background: #C6D8A6; border-radius: 8px; padding: 6px 16px; 
        box-shadow: 0 1px 0 0 #CCCCCC; width: 100%;"> -->
        <div style="font-size: 14px; display: flex; align-items: center; gap: 5px;"><ion-icon style="color: #579334;"
            name="caret-forward-outline"></ion-icon>
          <div>Price</div>
        </div>
        <div
          style="font-size: 14px; font-weight:600; text-align: right; background: #C6D8A6; border-radius: 8px;padding: 12px 16px; margin-top: 3px;">
          {{nonpackagestatus ? (service.subtotal ? service.subtotal : '0') : (service.subtotal ? service.subtotal :
          '0')}}</div>
        <!-- <ion-input *ngIf="packageselected && packageselected.length > 0" (ionInput)="calculateTotal()"  [(ngModel)]="packageprice"  placeholder="{{packageselected[0].amount}}" type="number" style="font-size: 14px; text-align: right;  --placeholder-opacity: 1 !important;"></ion-input> -->
        <!-- <ion-input *ngIf="packageselected.length < 1 && service.size != 'others' && service.area != 'others'" disabled="true" placeholder="0"  type="number" style="font-size: 14px; text-align: right;"></ion-input>
          <ion-input *ngIf="!service.size && !service.area && !service.services && !service.sqft" disabled="true" placeholder="0"  type="number" style="font-size: 14px; text-align: right;"></ion-input>
          <ion-input *ngIf="packageselected.length < 1 && service.size == 'others' || service.area == 'others'" (ionInput)="calculateTotal()" [(ngModel)]="packageprice" placeholder="0"  type="number" style="font-size: 14px; text-align: right;"></ion-input> -->
        <!-- </div> -->
      </div>

      <!-- <div style="margin-top: 10px; width: 100%;">
          <div style="display: flex; justify-content:space-between; align-items: center; background: #C6D8A6; border-radius: 8px; padding: 6px 16px; 
          box-shadow: 0 1px 0 0 #CCCCCC; width: 100%;">
            <div style="font-size: 14px;">Discount(%)</div>
            <ion-input [(ngModel)]="service.discount_json" placeholder="example : 5"
              type="number" style="font-size: 14px; text-align: right;"></ion-input>
          </div>
        </div>

      <div *ngIf="service.package && !nonpackagestatus" style="margin-top: 10px; width: 100%;">
        <div style="display: flex; justify-content:space-between; align-items: center; background: #C6D8A6; border-radius: 8px; padding: 6px 16px; 
        box-shadow: 0 1px 0 0 #CCCCCC; width: 100%;">
          <div style="font-size: 14px;">Discount(%)</div>
          <ion-input (ionInput)="calculateTotal('packages')" [(ngModel)]="service.discount" placeholder="example : 5"
            type="number" style="font-size: 14px; text-align: right;"></ion-input>
        </div>
      </div>

      <div *ngIf="nonpackagestatus" style="margin-top: 10px; width: 100%;">
        <div style="display: flex; justify-content:space-between; align-items: center; background: #C6D8A6; border-radius: 8px; padding: 6px 16px; 
          box-shadow: 0 1px 0 0 #CCCCCC; width: 100%;">
          <div style="font-size: 14px;">Discount(%)</div>
          <ion-input (ionInput)="calculateTotal('others')" [(ngModel)]="service.discount" placeholder="example : 5"
            type="number" style="font-size: 14px; text-align: right;"></ion-input>
        </div>
      </div>

      <div *ngIf="service.package && !nonpackagestatus" style="margin-top: 10px; width: 100%;">
        <div style="display: flex; justify-content:space-between; align-items: center; background: #C6D8A6; border-radius: 8px; padding: 6px 16px; 
        box-shadow: 0 1px 0 0 #CCCCCC; width: 100%;">
          <div style="font-size: 14px;">Discount(RM)</div>
          <ion-input (ionInput)="calculateTotal('packages')" [(ngModel)]="service.discount_roundoff" placeholder="example : 5"
            type="number" style="font-size: 14px; text-align: right;"></ion-input>
        </div>
      </div>

      <div *ngIf="nonpackagestatus" style="margin-top: 10px; width: 100%;">
        <div style="display: flex; justify-content:space-between; align-items: center; background: #C6D8A6; border-radius: 8px; padding: 6px 16px; 
          box-shadow: 0 1px 0 0 #CCCCCC; width: 100%;">
          <div style="font-size: 14px;">Discount(RM)</div>
          <ion-input (ionInput)="calculateTotal('others')" [(ngModel)]="service.discount_roundoff" placeholder="example : 5"
            type="number" style="font-size: 14px; text-align: right;"></ion-input>
        </div>
      </div> -->


      <div *ngIf="service.package && !nonpackagestatus" style="margin-top: 10px; width: 100%;">
        <!-- <div style="display: flex; justify-content:space-between; align-items: center; background: #C6D8A6; border-radius: 8px; padding: 6px 16px; 
          box-shadow: 0 1px 0 0 #CCCCCC; width: 100%;"> -->
        <!-- <div style="font-size: 14px; font-weight:600;">Total</div> -->
        <div style="font-size: 14px; display: flex; align-items: center; gap: 5px;"><ion-icon style="color: #579334;"
            name="caret-forward-outline"></ion-icon>
          <div style="font-weight: 600;">Total</div>
        </div>
        <ion-input [(ngModel)]="service.total" type="number"
          style="font-size: 14px; font-weight:600; text-align: right; background: #C6D8A6; border-radius: 8px; --padding-end: 16px; --padding-start : 16px; --placeholder-opacity: 1 !important; opacity: 1 !important; margin-top: 3px;"></ion-input>
        <!-- <div
            style="font-size: 14px; font-weight:600; text-align: right; padding: 10px 0;">
          {{service.total}}</div> -->
        <!-- </div> -->
      </div>

      <div *ngIf="nonpackagestatus" style="margin-top: 10px; width: 100%;">
        <!-- <div style="display: flex; justify-content:space-between; align-items: center; background: #C6D8A6; border-radius: 8px; padding: 6px 16px; 
            box-shadow: 0 1px 0 0 #CCCCCC; width: 100%;"> -->
        <!-- <div style="font-size: 14px; font-weight:600;">Total</div> -->
        <div style="font-size: 14px; display: flex; align-items: center; gap: 5px;"><ion-icon style="color: #579334;"
            name="caret-forward-outline"></ion-icon>
          <div style="font-weight: 600;">Total</div>
        </div>
        <ion-input [(ngModel)]="service.total" type="number"
          style="font-size: 14px; font-weight:600; text-align: right; background: #C6D8A6; border-radius: 8px; --padding-end: 16px; --padding-start : 16px; --placeholder-opacity: 1 !important; opacity: 1 !important; margin-top: 3px;"></ion-input>
        <!-- <div
            style="font-size: 14px; font-weight:600; text-align: right; padding: 10px 0;">
          {{service.total}}</div> -->
        <!-- </div> -->
      </div>


      <!-- <div *ngIf="service.size == 'others'" style="margin-top: 10px; width: 100%;">
            <div style="display: flex; justify-content:space-between; align-items: center; background: #C6D8A6; border-radius: 8px; padding: 6px 16px; 
            box-shadow: 0 1px 0 0 #CCCCCC; width: 100%;">
              <div style="font-size: 14px; font-weight:600;">Total</div>
              <ion-input [(ngModel)]="packagetotal" type="number" style="font-size: 14px; font-weight:600; text-align: right; --placeholder-opacity: 1 !important;"></ion-input>
            </div>
            </div> -->




      <!-- warranty -->
      <!-- <div style="margin-top: 10px; width: 100%;">
                <div style="font-size: 14px; display: flex; align-items: center; gap: 5px;"><ion-icon style="color: #579334;" name="caret-forward-circle-outline"></ion-icon><div>Package Warranty</div></div>
                <ion-input [(ngModel)]="service.package_warranty" type="number" placeholder="{{service.package_warranty ? 0 : 0}}"
                  style="font-size: 14px; font-weight:600; text-align: right; background: #C6D8A6; border-radius: 8px; --padding-end: 16px; --padding-start : 16px; --placeholder-opacity: 1 !important; opacity: 1 !important; margin-top: 5px;"></ion-input>
            </div> -->
      <div style="width: 90%; margin-top: 15px;">
        <div style="font-size: 14px; display: flex; align-items: center; gap: 5px;"><ion-icon style="color: #579334;"
            name="caret-forward-circle-outline"></ion-icon>
          <div>Package Warranty</div>
        </div>


        <ion-item>
          <ion-select (ionInput)="handleChange($event)" [(ngModel)]="service['package_warranty']"
            placeholder="Select/Change Warranty" style="font-size: 12px;">
            <ion-select-option *ngFor="let x of warranty" value="{{x}}">{{x}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>




      <div
        style="background: #DEE9CB; margin-top: 42px; border-radius: 8px; padding: 16px; display: flex;justify-content: flex-start; flex-wrap: wrap;">
        <div *ngFor="let x of imageurl; let i = index;"
          style="min-width: calc( (100% - 18px) /3); max-width: calc((100% - 18px) / 3); height:100px;  margin-right:6px; margin-bottom: 6px; position: relative;">
          <img src='{{x}}' (click)="viewPhoto(i)" style="width: 100%; height: 100%;  object-fit:cover;" />
          <ion-icon (click)="removePhoto(i)" name="close-outline"
            style="position: absolute; color: #FFFFFF; background: #000000; top:0; right: 0;"></ion-icon>
        </div>
        <div (click)="selectMedia()" style="display: flex; justify-content:center; align-items:center; min-width: calc( (100% - 26px) /3); max-width: calc((100% - 26px) / 3); 
        border: 1px solid #6DAD48; margin-right: 6px; height: 100px; ">
          <ion-icon name="camera" style="color: #CCCCCC; font-size:40px;"></ion-icon>
        </div>
      </div>

      <label for="uploadfiles" id="uploadlabel"></label>
      <input readonly (change)="fileChange2($event, 600)" type="file" id="uploadfiles" accept="image/*" name="files[]" 
        style="display: none;" />
      <label for="uploadfiles3" id="uploadlabelmul"></label>
      <input readonly (change)="fileChange2($event, 600)" type="file" id="uploadfiles3" accept="image/*" name="files[]" multiple
        style="display: none;" />

      <!-- <div style="background: #DEE9CB; margin-top: 16px; border-radius: 8px; padding: 16px; display: flex;justify-content: space-between;">
        <div style="display: flex; justify-content:center; align-items:center; width: calc(100% / 3); border: 1px solid #6DAD48; margin-right: 8px; height: 100px;">
          <ion-icon name="videocam" style="color: #CCCCCC; font-size:40px;"></ion-icon>
        </div>
      </div> -->

      <div
        style="background: #DEE9CB; margin-top: 2px; border-radius: 8px; padding: 16px; display: flex;justify-content: flex-start; flex-wrap: wrap;">
        <div *ngFor="let x of videourl; let i = index;"
          style="width: 100%;  margin-right:6px; margin-bottom: 6px; position: relative;">
          <video width="100%" controls>
            <source src='{{x.link}}' style="width: 100%; height: 100%;  object-fit:cover;" />
          </video>
          <ion-icon (click)="removeVideo(i)" name="close-outline"
            style="position: absolute; color: #FFFFFF; background: #000000; top:0; right: 0;"></ion-icon>
        </div>
        <div (click)="selectMedia2()" style="display: flex; justify-content:center; align-items:center; min-width: calc( (100% - 26px) /3); max-width: calc((100% - 26px) / 3); 
border: 1px solid #6DAD48; margin-right: 6px; height: 100px; ">
          <ion-icon name="videocam" style="color: #CCCCCC; font-size:40px;"></ion-icon>
        </div>
      </div>

      <label for="{{'filessquare_edit'}}" id="uploadlabel2"></label>
      <input style="display: none" id="{{'filessquare_edit'}}" class="inputclass" type="file" accept="video/*"
        (change)="uploadFile($event)">

      <div style="background: #DEE9CB; margin-top: 16px; border-radius: 8px; padding:0 16px;">
        <ion-textarea [(ngModel)]="service.remark" placeholder="Remarks" rows="6"
          style="font-size: 14px; --padding-start: 0; --padding-end:0; --padding-start: 0; --padding-bottom: 0;">
        </ion-textarea>
      </div>

    </div>
  </div>


</ion-content>

<ion-footer class="ion-no-border">
  <div style="width: 100%; background:#6DAD48; height:0.5px; padding: 0; margin: 0;"></div>
  <div style="width: 100%; display: flex; justify-content: flex-end; background: #ffffff;">
    <div style="width: 95%; display: flex; justify-content:space-between; align-items: center;">
      <div style="font-size: 14px; width: max-content; margin-right: 10px; color: black;">Total</div>
      <div style="display: flex; align-items: center;">
        <div style="font-size: 18px; font-weight: 600; color:#096A3F; margin-right: 8px; width: max-content;">
          {{nonpackagestatus ? (service.total | currency : 'RM ') : (service.total | currency : 'RM ') || (0 | currency
          : 'RM ')}}
        </div>
        <div (click)="confirm()"
          style="font-size: 18px; font-weight: 600; color: #FFFFFF; background: #6DAD48; padding: 20px 36px;">Comfirm
        </div>
      </div>
    </div>
  </div>
</ion-footer>