<ion-content>

  <div style="background: #6DAD48; color: #ffffff; padding: 10px 0; width:100%; box-shadow: 0 2px 10px 0 #eeeeee; display:flex; justify-content: center;">
    <div style="width:90%; display:flex; justify-content: space-between; align-items: center;">
      <ion-icon name="close-outline" style="visibility: hidden;"></ion-icon>
      <div style="color: #ffffff; display:flex; justify-content:center; font-size: 16px; font-weight: 600;">
        Services
      </div>
      <ion-icon (click)="back()" name="close-outline" style="font-size: 16px;"></ion-icon>
    </div>
  </div>

  <div style="width: 100%; display: flex; justify-content: center;">

    <div style="width: 90%; margin-bottom: 24px;">
      <div
        style="background: #DEE9CB; margin-top: 20px; border-radius: 8px; padding: 16px; display: flex;justify-content: flex-start; flex-wrap: wrap;">
        <div *ngFor="let x of imageurl; let i = index;"
          style="min-width: calc( (100% - 18px) /3); max-width: calc((100% - 18px) / 3); height:100px;  margin-right:6px; margin-bottom: 6px; position: relative;">
          <img src='{{x}}' (click)="viewPhoto(i)" style="width: 100%; height: 100%;  object-fit:cover;" />
          <ion-icon (click)="removePhoto(i)" name="close-outline"
            style="position: absolute; color: #FFFFFF; background: #000000; top:0; right: 0;"></ion-icon>
        </div>
        <div (click)="selectMedia()" style="display: flex; justify-content:center; align-items:center; min-width: calc( (100% - 26px) /3); max-width: calc((100% - 26px) / 3); 
        border: 1px solid #6DAD48; margin-right: 6px; height: 100px; ">
          <ion-icon name="camera" style="color: #CCCCCC; font-size:40px;"></ion-icon>
        </div>
      </div>

      <label for="uploadfiles" id="uploadlabel"></label>
      <input readonly (change)="fileChange2($event, 600)" type="file" id="uploadfiles" accept="image/*" multiple
        name="files[]" style="display: none;" />


        <div
        style="background: #DEE9CB; margin-top: 2px; border-radius: 8px; padding: 16px; display: flex;justify-content: flex-start; flex-wrap: wrap;">
        <div *ngFor="let x of videourl; let i = index;"
          style="width: 100%;  margin-right:6px; margin-bottom: 6px; position: relative;">
          <video width="100%" controls>
            <source src='{{x.link}}' style="width: 100%; height: 100%;  object-fit:cover;" />
          </video>
          <ion-icon (click)="removeVideo(i)" name="close-outline"
            style="position: absolute; color: #FFFFFF; background: #000000; top:0; right: 0;"></ion-icon>
        </div>
        <div (click)="selectMedia2()" style="display: flex; justify-content:center; align-items:center; min-width: calc( (100% - 26px) /3); max-width: calc((100% - 26px) / 3); 
border: 1px solid #6DAD48; margin-right: 6px; height: 100px; ">
          <ion-icon name="videocam" style="color: #CCCCCC; font-size:40px;"></ion-icon>
        </div>
      </div>

      <label for="{{'filessquare_edit'}}" id="uploadlabel2"></label>
      <input style="display: none" id="{{'filessquare_edit'}}" class="inputclass" type="file" accept="video/*"
        (change)="uploadFile($event)">


      <div style="background: #DEE9CB; margin-top: 16px; border-radius: 8px; padding:0 16px;">
        <ion-textarea [(ngModel)]="service.remark" placeholder="Remarks" rows="6"
          style="font-size: 14px; --padding-start: 0; --padding-end:0; --padding-start: 0; --padding-bottom: 0;">
        </ion-textarea>
      </div>

    </div>
  </div>


</ion-content>

<ion-footer class="ion-no-border">
  <div style="width: 100%; background:#6DAD48; height:0.5px; padding: 0; margin: 0;"></div>
  <div style="width: 100%; display: flex; justify-content: flex-end; background: #ffffff;">
    <div style="width: 95%; display: flex; justify-content:space-between; align-items: center;">

      <div style="display: flex; align-items: center; justify-content: space-between; width: 100%; opacity: 0.5;">
        <div style="font-size: 14px; width: max-content; margin-right: 10px; color: black;">Total</div>
        <div style="font-size: 18px; font-weight: 600; color:#096A3F; margin-right: 8px; width: max-content;">
          {{'0' | currency : 'RM '}}
        </div>
      </div>
        <div (click)="confirm()" style="font-size: 18px; font-weight: 600; color: #FFFFFF; background: #6DAD48; padding: 20px 36px;">Comfirm
        </div>

    </div>
  </div>
</ion-footer>