<ion-content style="--background: white;">
  <div
    style="display: flex; align-items:center; justify-content: center; flex-direction:column; height: 100vh; width: 100vw;">

    <div style="display: flex; flex-direction: column; justify-content:center; align-items:center;padding-bottom: 60px; color: #6DAD48;">
      <img style="padding:10px 0; width: 80%; " src="assets/icon/nano-g-nb.png"/>
    </div>

    <div style="display:flex; align-items: center; justify-content: center; padding-bottom: 45px;">
      <div style="font-size: 22px; font-weight:600">Welcome</div>
      <div style="font-size: 22px;">, Please login</div>
    </div>

    <div style="display: flex; flex-direction:column; justify-content: center; align-items: center;">

      <div style="margin:5px">
        <div style="padding: 10px 0px;">Email : </div>
        <div id="1" style="display: flex; align-items: center; border:1px solid #CBDF7D; border-radius: 10px; width: 80vw; padding: 5px 0;">
        <ion-input style="--padding-start:10px;" (ionFocus)="focus($event, 1)" (ionBlur)="blur($event, 1)" type="text" placeholder="Enter your email" [(ngModel)]="user.email" ></ion-input>
        </div>
      </div>

      <div style="margin:5px">
        <div style="padding: 10px 0px;">Password: </div>
        <div  id="2" style="display: flex; align-items: center; border:1px solid #CBDF7D; border-radius: 10px; width: 80vw; padding: 5px 0;">
        <ion-input style="--padding-start:10px;" [type]="eye ? 'text' : 'password' " (ionFocus)="focus($event, 2)" (ionBlur)="blur($event, 2)"  placeholder="Enter your password" [(ngModel)]="user.password"></ion-input>
        <ion-icon (click)="eye = !eye" [name]="eye ? 'eye-outline' : 'eye-off-outline' " style="cursor: pointer; font-size: 20px; padding-right: 5px; padding-left: 5px;"></ion-icon>
      </div>
      </div>

    </div>

    <div (click)="forgotpassword()" style="margin-top:8px; cursor: pointer; text-align: right; width: 80%; font-size: 14px;">
      Forgot your password?
    </div>

    <div style="width: 100%; display:flex; align-items:center; justify-content:center; text-align:center; padding-top: 70px ;">
      <div (click)="login()" style="font-weight: bolder; width: 60%; padding: 15px 0px; border-radius:10px; color: white; cursor: pointer; background-color: #6DAD48;">LOGIN</div>
    </div>


    <!-- <div style="width: 60%; display: flex; justify-content: space-between; align-items: center; padding-top: 40px;">
      <div style="width: 30%; background-color: black; height: 1px; "></div>
      <div style="text-align: center;">Other Login</div>
      <div style="width: 30%; background-color: black; height: 1px; "></div>
    </div>

    <div style="padding-top: 24px; display:flex; justify-content: space-around; width: 60%;">
      
      <ion-icon style="font-size: 32px; color: #6DAD48; cursor: pointer;" name="logo-facebook"></ion-icon>
      <ion-icon style="font-size: 32px; color: #6DAD48; cursor: pointer;" name="mail-outline"></ion-icon>
    </div> -->


    <!-- <div (click)="gotoregister()" style="margin-top:50px; cursor: pointer; text-align: center;">
      Havent have an account?<br/>
      Sign up now
    </div> -->
  </div>
</ion-content>

