<ion-header style=" --background: #fff; background: #fff;">
  <div style="width: 100%; background: #fff;">
    <div style="width: 100%; position: relative;">
  
 
        <div
          style="display: flex; justify-content:space-between; align-items: center; padding: 10px 16px; border-bottom: 1px solid #ddd; background-color: #6DAD48;">
          <ion-icon (click)='back()' style='font-size:16px;color: #FFFFFF;' name="chevron-back-outline"></ion-icon>
  
          <div style="color: white;">Notification History</div>
  
          <div style="display:flex; justify-content:center; align-items:center; padding: 5px; border: 1px solid #ffffff; border-radius: 50%; visibility: hidden;">
          </div>
        </div>
  
    </div>
  </div>
  </ion-header>

<ion-content>
  <div *ngIf="notificationHistory" style="width: 100%; display: flex; flex-direction: column; align-items: center; padding: 20px 0 0;">
    <div style="width: 90%; font-size: 14px; font-weight: 600; color: red; padding-bottom: 10px; display: flex; justify-content: space-between; align-items: center;">
      <div> *Only show 30 days history</div>
      <u (click)="updateallstatus()" style="font-size: 12px;"><i>Read All</i></u>
    </div>
    <div (click)="godetail(x)"  *ngFor="let x of notificationHistory" style="width: 100%; display: flex; flex-direction: column; align-items: center; margin-bottom:10px; border-bottom: 1px solid #ddd; position: relative;">
      <div *ngIf="!x.his_read" style="position: absolute; background: red; height: 10px; width: 10px; left: 10px; top: 0; border-radius: 50%;"></div>
      <div *ngIf="x.message_type == 'AllTaskCompleted'" style="width: 85%; padding-bottom: 10px;">
        <div style="width: 100%; display: flex; flex-wrap: wrap;">
          <div style="display: flex; flex-wrap: wrap; font-size: 13px; align-items: center; gap: 5px;">
            <div>All tasks completed</div>
            <ion-icon name="checkmark-done-circle-outline" style="color: green; font-size: 18px;"></ion-icon></div>
          <div style="width: 100%; display: flex; flex-wrap: wrap; align-items: center; gap: 5px;">
            <div style="font-weight: 600;">{{x.customer_name}}</div>
          </div>
          <div style="width: 100%; display: flex; flex-wrap: wrap; align-items: center; gap: 5px;">
            <!-- <ion-icon name="caret-forward-circle-outline" style="visibility: hidden;"></ion-icon> -->
            <div style="font-weight: 600;">{{x.customer_phone}}</div>
          </div>
        </div>
        <div style="display: flex; font-size: 13px; padding-top: 5px;">{{x.his_date | date : 'fullDate'}}&nbsp;at&nbsp;{{x.his_date | date : 'h:mm a'}}</div>
      </div>

      <div *ngIf="x.message_type == '1'" style="width: 85%; padding-bottom: 10px;">
        <div style="width: 100%;">
          <div style="display: flex; flex-wrap: wrap; font-size: 13px;">New Appointment has been assigned</div>
          <div style="width: 100%; display: flex; flex-wrap: wrap; align-items: center; gap: 5px;">
            <!-- <ion-icon name="caret-forward-circle-outline" style="visibility: hidden;"></ion-icon> -->
            <div style="font-weight: 600;">{{x.customer_name}}</div>
          </div>
          <div style="width: 100%; display: flex; flex-wrap: wrap; align-items: center; gap: 5px;">
            <!-- <ion-icon name="caret-forward-circle-outline" style="visibility: hidden;"></ion-icon> -->
            <div style="font-weight: 600;">{{x.customer_phone}}</div>
          </div>

        </div>
        <div style="display: flex; font-size: 13px; padding-top: 5px;">{{x.his_date | date : 'fullDate'}}&nbsp;at&nbsp;{{x.his_date | date : 'h:mm a'}}</div>
      </div>

      <div *ngIf="x.message_type == '2'" style="width: 85%; padding-bottom: 10px;">
        <div style="width: 100%;">
          <div style="display: flex; flex-wrap: wrap; font-size: 13px;">Updated Appointment</div>
          <div style="width: 100%; display: flex; flex-wrap: wrap; align-items: center; gap: 5px;">
            <!-- <ion-icon name="caret-forward-circle-outline" style="visibility: hidden;"></ion-icon> -->
            <div style="font-weight: 600;">{{x.customer_name}}</div>
          </div>
          <div style="width: 100%; display: flex; flex-wrap: wrap; align-items: center; gap: 5px;">
            <!-- <ion-icon name="caret-forward-circle-outline" style="visibility: hidden;"></ion-icon> -->
            <div style="font-weight: 600;">{{x.customer_phone}}</div>
          </div>

        </div>
        <div style="display: flex; font-size: 13px; padding-top: 5px;">{{x.his_date | date : 'fullDate'}}&nbsp;at&nbsp;{{x.his_date | date : 'h:mm a'}}</div>
      </div>

      <div *ngIf="x.message_type == '3'" style="width: 85%; padding-bottom: 10px;">
        <div style="width: 100%;">
          <div style="display: flex; flex-wrap: wrap; font-size: 14px; font-weight: 600;">New Event/Meeting has been assigned</div>
          <div style="width: 100%; display: flex; flex-wrap: wrap; align-items: center; gap: 5px;">
            <div style="font-weight: 600;">{{x.event_title}}</div>
          </div>
          <div style="width: 100%; display: flex; flex-wrap: wrap; align-items: center; gap: 5px;">
            <div style="font-weight: 600;">{{x.startime}}</div>
          </div> 
          <div style="display: flex; flex-wrap: wrap; font-size: 13px;">Kindly check the details in the Meeting page</div>



        </div>
        <div style="display: flex; font-size: 13px; padding-top: 5px;">{{x.his_date | date : 'fullDate'}}&nbsp;at&nbsp;{{x.his_date | date : 'h:mm a'}}</div>
      </div>

      <div *ngIf="x.message_type == '4'" style="width: 85%; padding-bottom: 10px;">
        <div style="width: 100%;">
          <div style="display: flex; flex-wrap: wrap; font-size: 14px; font-weight: 600;">Updated Event/Meeting</div>
          <div style="width: 100%; display: flex; flex-wrap: wrap; align-items: center; gap: 5px;">
            <div style="font-weight: 600;">{{x.event_title}}</div>
          </div>
          <div style="width: 100%; display: flex; flex-wrap: wrap; align-items: center; gap: 5px;">
            <div style="font-weight: 600;">{{x.startime}}</div>
          </div> 
          <div style="display: flex; flex-wrap: wrap; font-size: 13px;">Kindly check the details in the Meeting page</div>
        </div>
        <div style="display: flex; font-size: 13px; padding-top: 5px;">{{x.his_date | date : 'fullDate'}}&nbsp;at&nbsp;{{x.his_date | date : 'h:mm a'}}</div>
      </div>

      <div *ngIf="x.message_type == '5'" style="width: 85%; padding-bottom: 10px;">
        <div style="width: 100%;">
          <div style="display: flex; flex-wrap: wrap; font-size: 14px; font-weight: 600;">Uploaded Official Quotation</div>
          <div style="width: 100%; display: flex; flex-wrap: wrap; align-items: center; gap: 5px;">
            <div style="font-size: 13px;">{{x.customer_name}}</div>
          </div>
          <div style="width: 100%; display: flex; flex-wrap: wrap; align-items: center; gap: 5px;">
            <div style="font-size: 13px;">{{x.customer_phone}}</div>
          </div>
          <!-- <div style="display: flex; flex-wrap: wrap; font-size: 13px;">Click to the customer page</div> -->
        </div>
        <div style="display: flex; font-size: 13px; padding-top: 5px;">{{x.his_date | date : 'fullDate'}}&nbsp;at&nbsp;{{x.his_date | date : 'h:mm a'}}</div>
      </div>

      <div *ngIf="x.message_type == '6'" style="width: 85%; padding-bottom: 10px;">
        <div style="width: 100%;">
          <div style="display: flex; flex-wrap: wrap; font-size: 14px; font-weight: 600;">Payment status has been updated</div>
          <div style="width: 100%; display: flex; flex-wrap: wrap; align-items: center; gap: 5px;">
            <div style="font-size: 13px;">{{x.customer_name}}</div>
          </div>
          <div style="width: 100%; display: flex; flex-wrap: wrap; align-items: center; gap: 5px;">
            <div style="font-size: 13px;">{{x.customer_phone}}</div>
          </div>
          <!-- <div style="display: flex; flex-wrap: wrap; font-size: 13px;">Click to the customer page</div> -->
        </div>
        <div style="display: flex; font-size: 13px; padding-top: 5px;">{{x.his_date | date : 'fullDate'}}&nbsp;at&nbsp;{{x.his_date | date : 'h:mm a'}}</div>
      </div>

      <div *ngIf="x.message_type == '7'" style="width: 85%; padding-bottom: 10px;">
        <div style="width: 100%;">
          <div style="display: flex; flex-wrap: wrap; font-size: 14px; font-weight: 600;">SOF has been Rejected</div>
          <div style="width: 100%; display: flex; flex-wrap: wrap; align-items: center; gap: 5px;">
            <div style="font-size: 13px;">{{x.customer_name}}</div>
          </div>
          <div style="width: 100%; display: flex; flex-wrap: wrap; align-items: center; gap: 5px;">
            <div style="font-size: 13px;">{{x.customer_phone}}</div>
          </div>
          <!-- <div style="display: flex; flex-wrap: wrap; font-size: 13px;">Click to the customer page</div> -->
        </div>
        <div style="display: flex; font-size: 13px; padding-top: 5px;">{{x.his_date | date : 'fullDate'}}&nbsp;at&nbsp;{{x.his_date | date : 'h:mm a'}}</div>
      </div>
    </div>
  </div>

  <div *ngIf="notificationHistory.length < 1" style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; text-align: center;">
    <div style="font-weight: 600;">
      You did not have any notification yet
    </div>
  </div>
</ion-content>
