<ion-content style="--background: transparent; ">
  
  <!-- box-shadow: 0 0 4px 6px rgb(214, 214, 214); -->
  <div style="display: flex; flex-direction:column; justify-content:center; align-items:center">

<div (click)="signout()" style="border-radius: 8px; background-color: #6DAD48; color: white;
display: flex; align-items: center; justify-content: center; padding: 18px; width: 90%; margin-bottom: 3px;border-bottom: 3px solid black;">
  <ion-icon name="power-outline" style="padding-right: 10px;font-size: 30px;"></ion-icon>
  <div style="font-size: 30px;">Sign Out</div>
</div>

<div (click)="modaldismiss()" style="border-radius: 8px; background-color: #CBDF7D; color: white;
display: flex; align-items: center; justify-content: center; padding: 18px; width: 90%; border-bottom: 3px solid black;">
  <ion-icon name="return-down-back-outline" style="padding-right: 10px;font-size: 30px;"></ion-icon>
  <div style="font-size: 30px;">Go Back</div>
</div>

</div>

</ion-content>
