<!--Start here-->
<ion-header class="ion-no-border" style="--background: #fff;">
  <div style="width: 100%; background: #fff;">
    <div style="width: 100%; position: relative; background: #fff;">

      <div style="width: 100%; background: transparent;">

        <div
          style="display: flex; justify-content:space-between; align-items: center; padding: 10px 16px; background-color: #fff;">
          <ion-icon (click)='back()' style='font-size:16px; color: #000;' name="chevron-back-outline"></ion-icon>

          <div style="color: #000; font-size: 16px; font-weight: 600;">Task</div>

          <div
            style="display:flex; justify-content:center; align-items:center; padding: 5px; border: 1px solid #ffffff; border-radius: 50%; visibility: hidden;">
            <!-- <ion-icon *ngIf="tab1 == true" (click)="changetab('filter')" name="calendar-outline" style="font-size:20px; color: #ffffff;"></ion-icon>
            <ion-icon *ngIf="tab2 == true" (click)="changetab('calendar')" name="options-outline" style="font-size:20px; color: #ffffff;"></ion-icon> -->
          </div>
        </div>



        <div style="width: 100%; display: flex; justify-content: center; ">
          <div
            style="display: flex; justify-content:space-between; align-items: center; height: 40px; background-color: #fff; color: #000; font-size: 14px; width: 100%; border-bottom: 1px solid #ccc;">
            <div (click)="changedengdengdengdeng(1)" [ngClass]="dengdengdengdeng == 1 ? 'tab-container' : '' "
              style="width: 33.33%; height: 100%; display: flex; justify-content:center; align-items: center;">Upcoming
            </div>
            <div (click)="changedengdengdengdeng(2)" [ngClass]="dengdengdengdeng == 2 ? 'tab-container' : '' "
              style="width: 33.33%; height: 100%; display: flex; justify-content:center; align-items: center;">Pending
            </div>
            <div (click)="changedengdengdengdeng(3)" [ngClass]="dengdengdengdeng == 3 ? 'tab-container' : '' "
              style="width: 33.33%; height: 100%; display: flex; justify-content:center; align-items: center;">Complete
            </div>
          </div>

        </div>

        <div *ngIf="dengdengdengdeng == 1" style="padding: 10px 16px; background: #fff; color: #000;">
          <div (click)="choosedate(1)"
            style="display: flex; justify-content: space-between; align-items: center; padding: 10px 15px; border: 1px solid #6DAD48; border-radius: 20px; width: max-content;">
            <div style="margin-right: 10px;">{{monthDate1}}</div>
            <ion-icon name="caret-down-outline"></ion-icon>
          </div>
          <div *ngIf="monthdatetab1" style="width: 100%; display: flex; justify-content: space-between;">
            <ion-datetime [(ngModel)]="monthYear1" presentation="month-year"
              style="color: #000; background: #fff;"></ion-datetime>
            <div style="display: flex; align-items: flex-end;">
              <div (click)="getchoosedate()"
                style="background-color: #6DAD48; color: #fff; padding: 10px 10px; border-radius: 10px; border: 1px solid #fff;">
                Confirm</div>
            </div>
          </div>
        </div>

        <div *ngIf="dengdengdengdeng == 2" style="padding: 10px 16px; background: #fff; color: #000;">
          <div (click)="choosedate(2)"
            style="display: flex; justify-content: space-between; align-items: center; padding: 10px 15px; border: 1px solid #6DAD48; border-radius: 20px; width: max-content;">
            <div style="margin-right: 10px;">{{monthDate2}}</div>
            <ion-icon name="caret-down-outline"></ion-icon>
          </div>
          <div *ngIf="monthdatetab2" style="width: 100%; display: flex; justify-content: space-between;">
            <ion-datetime [(ngModel)]="monthYear2" presentation="month-year"
              style="color: #000; background: #fff;"></ion-datetime>
            <div style="display: flex; align-items: flex-end;">
              <div (click)="getchoosedate()"
                style="background-color: #6DAD48; color: #fff; padding: 10px 10px; border-radius: 10px; border: 1px solid #fff;">
                Confirm</div>
            </div>
          </div>
        </div>

        <div *ngIf="dengdengdengdeng == 3" style="padding: 10px 16px; background: #fff; color: #000;">
          <div (click)="choosedate(3)"
            style="display: flex; justify-content: space-between; align-items: center; padding: 10px 15px; border: 1px solid #6DAD48; border-radius: 20px; width: max-content;">
            <div style="margin-right: 10px;">{{monthDate3}}</div>
            <ion-icon name="caret-down-outline"></ion-icon>
          </div>
          <div *ngIf="monthdatetab3" style="width: 100%; display: flex; justify-content: space-between;">
            <ion-datetime [(ngModel)]="monthYear3" presentation="month-year"
              style="color: #000; background: #fff;"></ion-datetime>
            <div style="display: flex; align-items: flex-end;">
              <div (click)="getchoosedate()"
                style="background-color: #6DAD48; color: #fff; padding: 10px 10px; border-radius: 10px; border: 1px solid #fff;">
                Confirm</div>
            </div>
          </div>
        </div>


        <!--tab 2-->
        <div *ngIf="tab2" [ngClass]="tab2 ? 'calendar-box' : 'calendar-boxx' "
          style="color:black; background: white; width: 100%; display: flex; flex-direction: column; align-items: center; border: 1px solid #ddd">

          <!--Tab 2 calendar-->
          <div *ngIf="tab2" [ngClass]="tab2 ? 'task-container' : ''"
            style="color: black; width: 100%; display: flex; justify-content: center; background: #FFFFFF; border-bottom: 1px solid #999999;">

            <div style="width: 100%; display: flex; justify-content: space-between;">

              <div (click)="filterdatestatus('from')"
                [ngStyle]="{'background': datetab1 ? '#fafff7' : '', 'font-weight' : datetab1 ? '600' : '400'}"
                style="text-align: left; width: 50%; padding: 10px 0 10px 24px;">
                <div style="font-size: 11px; font-weight: 600; color:#000000;">From</div>
                <div style="font-size: 13px;">{{selectedDate2 | date: 'dd MMM yyyy'}}</div>
              </div>

              <div style="height: 100%; background: #ccc; width:0.8px;"></div>

              <div (click)="filterdatestatus('to')"
                [ngStyle]="{'background': datetab2 ? '#eaf9e2' : '', 'font-weight' : datetab2 ? '600' : '400'}"
                style="text-align: left; width: 50%; padding: 10px 0px 10px 24px;">
                <div style="font-size: 11px; font-weight: 600; color:#000000;">To</div>
                <div style="font-size: 13px;">{{selectedDate3 | date: 'dd MMM yyyy'}}</div>
              </div>

            </div>
          </div>

          <!--Calendar From-->
          <div *ngIf="tab2 && datetab1" [ngClass]="datetab1 ? 'calendar-box' : 'calendar-boxx'"
            style="width: 100%; display: flex; flex-direction: column; align-items: center; background: #fafff7; position: relative;">

            <!-- <div style="height: 50%; width: 100%; color: #23232b; border-radius:4px; background: #C9E1BD; display: flex; justify-content:space-between; padding:5px 24px; align-items: center;
                  box-shadow: 0 0 10px 0 rgb(236, 236, 236);">
          <div style="width: 100%; display: flex; align-items:center; justify-content: space-between;">
            <div *ngIf="selectedDay2 == undefined" style="font-size: 16px; font-weight: 600; color: #23232b; padding-right: 4px;">Start From : </div>
            <div *ngIf="selectedDay2" style="font-size: 10px; font-weight: 600; color: #23232b; padding-right: 4px;">
             {{selectedDay2 + " " + monthToShow2 + " " + yearToShow2}}</div>
  
          <div>
            <ion-icon
              style="color: #FFFFFF; font-size: 12px; min-width: 12px; min-height: 12px; padding: 4px; background-color: #6DAD48; border-radius: 6px; margin-right: 5px;"
              (click)="previous2()" name="chevron-back-outline"></ion-icon>
            <ion-icon
              style="color: #FFFFFF; font-size: 12px; min-width: 12px; min-height: 12px; padding: 4px; background-color: #6DAD48; border-radius: 6px; margin-right: 8px;"
              (click)="next2()" name="chevron-forward-outline"></ion-icon>
  
            <ion-icon style="color: #FFFFFF; font-size: 12px; min-width: 12px; min-height: 12px; padding: 4px; background-color: #6DAD48; border-radius: 6px;" 
              (click)="datetab1 = false" name="caret-up-outline"></ion-icon>
          </div>
  
          </div>
        </div> -->
            <div
              style="width: 100%; color: #23232b; background: #fafff7; width: 100%; display: flex; justify-content: center;">
              <div
                style="width: 100%; color: #23232b; border-radius: 12px; background: #fafff7; box-shadow: 0 0 10px 0 rgb(236, 236, 236);">

                <div style="display: flex; flex-wrap: wrap; padding: 10px 16px 4px 16px;">
                  <div *ngFor="let x of days"
                    style="width: calc(100% / 7); font-size: 12px; font-weight: 600; text-align: center; margin-bottom: 10px; color: #23232b;">
                    {{ x }}
                  </div>

                  <div *ngFor="let x of dates2;" style="width: calc(100% / 7);">
                    <div *ngIf="x != '' && x.fulldate != today" (click)="getnumber2(x)"
                      [ngStyle]="{'background': x.date == selectedDay2 && monthToShow2 == monthToCheck2 && yearToShow2 == yearToCheck2 ? x.fulldate != today ? '#99d675' : '#6DAD48' : '', 
              'color': x.date == selectedDay2 && monthToShow2 == monthToCheck2 && yearToShow2 == yearToCheck2 ? x.fulldate != today ? '#FFFFFF' : '#FFFFFF' : '',
              'border-radius': x.date == selectedDay2 && monthToShow2 == monthToCheck2 && yearToShow2 == yearToCheck2 ? x.fulldate != today ? '10px' : '10px' : ''}"
                      style="font-size: 12px; padding: 8px; width: 80%; display: flex; justify-content: center;">
                      <div style="font-size: 12px;">
                        {{ x.date }}
                      </div>

                      <!-- <div *ngIf="x.status == true"
                    style="position:absolute; border-radius: 50%; background: red; bottom: 0; width: 5px; height: 5px;">
                  </div> -->
                    </div>

                    <div *ngIf="x != '' && x.fulldate == today" (click)="getnumber2(x);"
                      style="color: #FFFFFF; width: 80%; 
                    padding: 8px; display: flex; justify-content: center; align-items: center;  background: #6DAD48; border-radius: 10px;">
                      <div style="font-size: 12px;">
                        {{ x.date }}
                      </div>
                    </div>

                    <div *ngIf="x == '' && x.fulldate != today"
                      style="width: 100%; background:transparent; display: flex; justify-content: center; align-items: center;">
                      <div style="font-size: 12px;">
                        {{ x }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div style="height: 50%; width: 100%; color: #23232b; border-radius:4px; background: #fafff7; display: flex; justify-content:space-between; padding:5px 24px; align-items: center;
        box-shadow: 0 0 10px 0 rgb(236, 236, 236);">
              <div style="width: 100%; display: flex; align-items:center; justify-content: space-between;">

                <div>
                  <ion-icon
                    style="color: #FFFFFF; font-size: 12px; min-width: 12px; min-height: 12px; padding: 4px; background-color: #6DAD48; border-radius: 6px; margin-right: 5px;"
                    (click)="previous2()" name="chevron-back-outline"></ion-icon>
                  <ion-icon
                    style="color: #FFFFFF; font-size: 12px; min-width: 12px; min-height: 12px; padding: 4px; background-color: #6DAD48; border-radius: 6px; margin-right: 8px;"
                    (click)="next2()" name="chevron-forward-outline"></ion-icon>

                  <ion-icon
                    style="color: #FFFFFF; font-size: 12px; min-width: 12px; min-height: 12px; padding: 4px; background-color: #6DAD48; border-radius: 6px;"
                    (click)="datetab1 = false" name="caret-up-outline"></ion-icon>
                </div>


                <div style="display: flex; font-weight: 700;">
                  <div>{{currentMonth2 + 1}}</div>
                  <div>&nbsp;|&nbsp;</div>
                  <div>{{currentYear2}}</div>
                </div>

              </div>
            </div>
          </div>

          <!--Calendar To-->
          <div *ngIf="tab2&& datetab2" [ngClass]="datetab2 ? 'calendar-box' : 'calendar-boxx'"
            style="width: 100%; display: flex; flex-direction: column; align-items: center; background: #eaf9e2;">

            <!-- <div style="height: 50%; width: 100%; color: #23232b; border-radius:4px; background: #C9E1BD; display: flex; justify-content:space-between; padding:12px 24px 10px; align-items: center;
                  box-shadow: 0 0 10px 0 rgb(236, 236, 236);">
          <div style="display: flex; align-items:center;">
            <div *ngIf="selectedDay3 == undefined" style="font-size: 16px; font-weight: 600; color: #23232b; padding-right: 4px;">End At : </div>
            <div *ngIf="selectedDay3" style="font-size: 10px; font-weight: 600; color: #23232b; padding-right: 4px;">
              End At : {{selectedDay3 + " " + monthToShow3 + " " +
              yearToShow3 }}</div>
              <div>
                <ion-icon
                  style="color: #FFFFFF; font-size: 12px; min-width: 12px; min-height: 12px; padding: 4px; background-color: #6DAD48; border-radius: 6px; margin-right: 5px;"
                  (click)="previous3()" name="chevron-back-outline"></ion-icon>
                <ion-icon
                  style="color: #FFFFFF; font-size: 12px; min-width: 12px; min-height: 12px; padding: 4px; background-color: #6DAD48; border-radius: 6px; margin-right: 8px;"
                  (click)="next3()" name="chevron-forward-outline"></ion-icon>
    
                <ion-icon style="color: #FFFFFF; font-size: 12px; min-width: 12px; min-height: 12px; padding: 4px; background-color: #6DAD48; border-radius: 6px;" 
                  (click)="datetab2 = false" name="caret-up-outline"></ion-icon>
              </div>
  
          </div>
        </div> -->

            <div
              style="width: 100%; color: #23232b; background: #eaf9e2; width: 100%; display: flex; justify-content: center;">
              <div
                style="width: 100%; color: #23232b; border-radius: 12px; background: #eaf9e2; box-shadow: 0 0 10px 0 rgb(236, 236, 236);">

                <div style="display: flex; flex-wrap: wrap; padding: 15px 16px 4px 16px;">
                  <div *ngFor="let x of days"
                    style="width: calc(100% / 7); font-size: 12px; font-weight: 600; text-align: center; margin-bottom: 10px; color: #23232b;">
                    {{ x }}
                  </div>

                  <div *ngFor="let x of dates3;" style="width: calc(100% / 7);">
                    <div *ngIf="x != '' && x.fulldate != today" (click)="getnumber3(x)"
                      [ngStyle]="{'background': x.date == selectedDay3 && monthToShow3 == monthToCheck3 && yearToShow3 == yearToCheck3 ? x.fulldate != today ? '#99d675' : '#6DAD48' : '', 
            'color': x.date == selectedDay3 && monthToShow3 == monthToCheck3 && yearToShow3 == yearToCheck3 ? x.fulldate != today ? '#FFFFFF' : '#FFFFFF' : '',
            'border-radius': x.date == selectedDay3 && monthToShow3 == monthToCheck3 && yearToShow3 == yearToCheck3 ? x.fulldate != today ? '10px' : '10px' : ''}"
                      style="font-size: 12px; padding: 8px; width: 80%; display: flex; justify-content: center;">
                      <div style="font-size: 12px;">
                        {{ x.date }}
                      </div>

                      <!-- <div *ngIf="x.status == true"
                  style="position:absolute; border-radius: 50%; background: red; bottom: 0; width: 5px; height: 5px;">
                </div> -->
                    </div>

                    <div *ngIf="x != '' && x.fulldate == today" (click)="getnumber3(x);"
                      style="color: #FFFFFF; width: 80%; 
                padding: 8px; display: flex; justify-content: center; align-items: center;  background: #6DAD48; border-radius: 10px;">
                      <div style="font-size: 12px;">
                        {{ x.date }}
                      </div>
                    </div>

                    <div *ngIf="x == '' && x.fulldate != today"
                      style="width: 100%; background:transparent; display: flex; justify-content: center; align-items: center;">
                      <div style="font-size: 12px;">
                        {{ x }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div style="height: 50%; width: 100%; color: #23232b; border-radius:4px; background: #eaf9e2; display: flex; justify-content:space-between; padding:5px 24px; align-items: center;
        box-shadow: 0 0 10px 0 rgb(236, 236, 236);">
              <div style="width: 100%;display: flex; align-items:center; justify-content: space-between;">

                <div style="display: flex; font-weight: 700;">
                  <div>{{currentMonth3 + 1}}</div>
                  <div>&nbsp;|&nbsp;</div>
                  <div>{{currentYear3}}</div>
                </div>

                <div>
                  <ion-icon
                    style="color: #FFFFFF; font-size: 12px; min-width: 12px; min-height: 12px; padding: 4px; background-color: #6DAD48; border-radius: 6px; margin-right: 5px;"
                    (click)="previous3()" name="chevron-back-outline"></ion-icon>
                  <ion-icon
                    style="color: #FFFFFF; font-size: 12px; min-width: 12px; min-height: 12px; padding: 4px; background-color: #6DAD48; border-radius: 6px; margin-right: 8px;"
                    (click)="next3()" name="chevron-forward-outline"></ion-icon>

                  <ion-icon
                    style="color: #FFFFFF; font-size: 12px; min-width: 12px; min-height: 12px; padding: 4px; background-color: #6DAD48; border-radius: 6px;"
                    (click)="datetab2 = false" name="caret-up-outline"></ion-icon>
                </div>

              </div>
            </div>
          </div>

          <div
            style="width: 90%; display: flex; align-items: center; justify-content:space-between; font-size: 14px; background: white; color: #000000; padding: 10px 0;">
            <div (click)="filterstatus()" style="width: 100%;  display: flex; justify-content: center;">
              <div style="width:100%; display: flex; justify-content: center;">
                <div *ngIf="status" style="width:100%; font-size: 12px; margin-right: 10px; font-weight: 600;">
                  {{status}}
                </div>
                <div *ngIf="!status" style="width: 100%; font-weight: 400; font-size: 12px; margin-right: 10px;">Filter
                  by
                  Status
                </div>
              </div>
              <ion-icon [name]="!filterstatustab ? 'chevron-forward-outline' : 'chevron-down-outline'"></ion-icon>
            </div>
          </div>

          <div *ngIf="filterstatustab == true" [ngClass]="filterstatustab == true ? 'task-container' : ''"
            style="width:90%; background: #ffffff;">
            <div *ngFor="let x of filterlist">
              <div (click)="status = x; filterstatustab = !filterstatustab"
                style="padding: 6px 0 10px 0; font-size: 12px;   border-top: 1px solid #ddd;">{{x}}</div>
            </div>
          </div>

          <div
            style="background: #ffffff; width: 100%; display: flex; align-items: center; justify-content:center; font-size: 14px; padding: 0; color: #000000; border-top: 1px solid #999999;">
            <div style="width: 90%;">
              <ion-input placeholder="Search..."
                style="--padding-start:0; font-size: 12px; --padding-end: 5px; --placeholder-opacity: 0.8;"
                [(ngModel)]="filterkeyword"></ion-input>
            </div>
          </div>

        </div>

      </div>

      <!--Tab 1 Calendar-->
      <div *ngIf="calendar == false && tab1 == true" (click)="showcalendar('on')"
        style="height: 50%; color: #23232b; border-radius:4px; background: #C9E1BD;
              display: flex; justify-content: space-between; align-items: center; width: 100%; padding: 5px 24px; box-shadow: 0 0 10px 0 rgb(236, 236, 236);">
        <!-- <div style="font-size: 12px; font-weight: 600;">{{selectedDay == currentDay ? (selectedDay + " " +
          monthToCheck + " " + currentYear) : (selectedDay + " " + monthToShow + " " + yearToShow)}}</div> -->
        <div style="font-size: 12px; font-weight: 600;">{{(selectedDay + " " + monthToCheck + " " + currentYear)}}</div>


        <ion-icon
          style="color: #FFFFFF; font-size: 12px; min-width: 12px; min-height: 12px; padding: 6px; background-color: #6DAD48; border-radius: 6px;"
          (click)="showcalendar('off')" name="caret-down-outline"></ion-icon>
      </div>

      <div *ngIf="calendar == true && tab1 == true" style="height: 50%; width: 100%; color: #23232b; border-radius:4px; background: #C9E1BD; display: flex; justify-content:space-between; 
      padding:5px 24px; align-items: center; box-shadow: 0 0 10px 0 rgb(236, 236, 236);">

        <div style="display: flex; align-items:center; justify-content: space-between; width: 100%;">

          <div style="font-size: 14px; font-weight: 600; color: #23232b; padding-right: 4px;">{{ monthToShow + " " +
            yearToShow }}</div>

          <div style="display: flex; align-items: center;">
            <ion-icon
              style="color: #FFFFFF; font-size: 14px; min-width: 14px; min-height: 14px; padding: 6px; background-color: #6DAD48; border-radius: 8px; margin-right: 5px;"
              (click)="previous()" name="chevron-back-outline"></ion-icon>
            <ion-icon
              style="color: #FFFFFF; font-size: 14px; min-width: 14px; min-height: 14px; padding: 6px; background-color: #6DAD48; border-radius: 8px; margin-right: 8px;"
              (click)="next()" name="chevron-forward-outline"></ion-icon>

            <ion-icon
              style="color: #FFFFFF; font-size: 14px; min-width: 14px; min-height: 14px; padding: 6px; background-color: #6DAD48; border-radius: 8px;"
              (click)="showcalendar('off')" name="caret-up-outline"></ion-icon>

          </div>

        </div>

        <!-- <div style="display:flex; justify-content: flex-end; font-size: 16px;" (click)="showcalendar('off')">
          <ion-icon name="caret-up-outline"></ion-icon>
        </div> -->
      </div>

      <div *ngIf="tab1 == true" [ngClass]="calendar == false ? 'calendar-boxx' : 'calendar-box' " style="top: -1; width: 100%; color: #23232b; background: #C9E1BD; width: 100%; margin-bottom:24px; display: flex;
         justify-content: center; position: absolute; z-index:999;">

        <div
          style="width: 100%; color: #23232b; border-radius: 12px; background: #C9E1BD; box-shadow: 0 0 10px 0 rgb(236, 236, 236);">

          <div style="display: flex; flex-wrap: wrap; padding: 10px 16px;">

            <div *ngFor="let x of days"
              style="width: calc(100% / 7); font-size: 14px; font-weight: 600; text-align: center; margin-bottom: 10px; color: #23232b;">
              {{ x }}
            </div>

            <div *ngFor="let x of dates;" style="width: calc(100% / 7);">
              <div *ngIf="x != '' && x.fulldate != gettodaydate" (click)="getnumber(x)" style="width: 100%; margin-bottom: 4px; height: 35px; color: #23232b; display: flex; justify-content: center; align-items: center;
                position: relative;">
                <div
                  [ngStyle]="{'background': x.date == selectedDay && monthToShow == monthToCheck && yearToShow == yearToCheck ? x.fulldate != gettodaydate ? '#99d675' : '#6DAD48' : '', 
                'color': x.date == selectedDay && monthToShow == monthToCheck && yearToShow == yearToCheck ? x.fulldate != gettodaydate ? '#FFFFFF' : '#FFFFFF' : '',
                'border-radius': x.date == selectedDay && monthToShow == monthToCheck && yearToShow == yearToCheck ? x.fulldate != gettodaydate ? '5px' : '5px' : ''}"
                  style="font-size: 12px; padding: 8px; width: 80%; display: flex; justify-content: center;">
                  {{ x.date }}
                </div>

                <div *ngIf="x.status == true"
                  style="position:absolute; border-radius: 50%; background: red; bottom: 0; width: 5px; height: 5px;">
                </div>
              </div>

              <div *ngIf="x != '' && x.fulldate == gettodaydate" (click)="getnumber(x);" style="color: #FFFFFF; width: 100%; margin-bottom: 4px; 
                    height: 35px; display: flex; justify-content: center; align-items: center; position: relative;">
                <div
                  style="font-size: 12px; border-radius: 5px; background: #6DAD48; padding: 8px; width: 80%; display: flex; justify-content: center;">
                  {{ x.date }}
                </div>

                <div *ngIf="x.status == true"
                  style="position:absolute; border-radius: 50%; background: red; bottom: 0; width: 5px; height: 5px;">
                </div>
              </div>

              <div *ngIf="x == '' && x.fulldate != gettodaydate"
                style="width: 100%; padding: 8px; height: 35px; color: #23232b; background:#C9E1BD; display: flex; justify-content: center; align-items: center;">
                <div style="font-size: 12px;">
                  {{ x }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-header>

<ion-content style="--background: #fff;">
  <!--Tab1 Content-->
  <!-- <div *ngIf="tab1 == true" style="height: 100%;" [style.margin-top]="margintopforcontent" (touchstart)="showcalendar('off')"> -->
  <div *ngIf="tab1 == true" style="height: 100%;" (touchstart)="showcalendar('off')">
    <div class='task-container'
      style="display: flex; width: 100%; flex-direction: column; align-items: center; height: 100%;">
      <!-- <div style="width: 100%; text-align:left; font-size: 18px; font-weight: 600; padding: 24px 24px; ">
        Appointment List</div> -->

      <div *ngIf="appointment == ''"
        style="width: 100%; display: flex; justify-content: center; align-items: center; height: 90%;">
        <!-- <div style="width: 90%; text-align: center;">
          No appointment for selected day
        </div> -->
        <div
          style="width: 100%; display:flex; flex-direction: column; align-items: center; margin: 0 30px; text-align: center;">
          <img src="assets/icon/nocontent-nobackground.gif" style="width: 90%;" />
          <div style="font-size: 18px; font-weight:600;">No Pending Approval Job For Selected date</div>
        </div>
      </div>

      <!--Tab1 content list-->
      <div *ngFor="let x of appointment" style="display: flex; width: 92%;  margin:10px 0 0 0; position: relative;">
        <div *ngIf="!x.appointment_status"
          style="background: rgba(255, 155, 155, 0.8); width: max-content; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(40deg); text-align: center; color: red; border-bottom: 3px dashed red; border-top: 3px dashed red; padding: 10px; font-size: 16px; letter-spacing: 0.5em; font-weight:700;">
          Cancel
        </div>
        <div [ngStyle]="{'background': x.appointment_status ? '#B9D6A8' : '#ccc'}"
          style="width: 3%; border-radius: 5px 0 2.5px 5px; box-shadow: 0 1px 0 0 #B9D6A8;">
        </div>

        <div [ngStyle]="{'background': x.appointment_status ? '#E4EFDE' : '#ddd'}"
          style="display: flex; flex-direction: column; width: 97%; padding:15px 12px 10px; border-radius: 0 4px 4px 0;">


          <div (click)="godetail(x.appointment_id)" style="width: 100%;">
            <div style="display: flex; justify-content:space-between; align-items:center; padding-bottom: 8px;">
              <div style="font-size: 16px; font-weight:600; width: 70%;">{{x.customer_name}}</div>
              <!-- <div style="color:#446828; font-size: 14px; font-weight:600;">{{x.appointment_time | date : 'hh:mm a'}} </div>-->
              <div
                style="color:#446828; font-size: 12px; font-weight:600; display: flex; flex-direction: column; align-items: flex-end;">
                <!-- <div>{{x.appointment_time | date : 'MMM d, y'}}</div> -->
                <div>{{x.appointment_time | date : 'h:mm a'}}</div>
              </div>
            </div>

            <div>
              <div style="display:flex; padding-bottom: 4px; align-items: center;">
                <ion-icon name="call"
                  style="min-width: 14px; max-width: 14px; min-height:14px; max-height:14px; color: #999; padding-right: 8px;">
                </ion-icon>
                <div style="font-size: 12px; user-select: text;">{{x.customer_phone}}</div>
              </div>

              <div style="display: flex; align-items: flex-start;">
                <ion-icon name="location"
                  style="min-width: 14px; max-width: 14px; min-height:14px; max-height:14px; color: #999; padding-right: 8px;">
                </ion-icon>
                <div style="font-size: 12px; user-select: text;">{{x.address}}</div>
              </div>
            </div>

            <div style="padding: 6px 0 0 0; width: 100%;">
              <div style="height: 1px; background: #6DAD48;width: 100%;"></div>
            </div>

            <div style="display: flex; align-items:center;width: 100%; padding-bottom: 5px; padding-top: 6px;">
              <div style="font-size: 12px; padding: 4px 8px;background: #7BB6A0; color: #FFFFFF; border-radius: 4px;">
                {{x.services}}</div>
            </div>

            <div style="display:flex; flex-wrap: wrap; padding-bottom: 4px;">
              <div *ngFor="let item of x.issues"
                style="min-width: max-content; margin-bottom: 3px; margin-right: 6px; color: #FFFFFF; font-size: 12px; padding: 4px 8px; border-radius: 4px; background: #2A3C62;">
                {{item}}</div>
            </div>

            <div style="font-size: 12px;">*{{x.saleexec_note || '*There is no remark here'}}</div>
            <div style="font-size: 12px; font-weight: 600;">Assd. by : {{x.sc_name || ''}}</div>

          </div>

          <!--button for whatsapp and map v1-->
          <div
            style="width: 100%; display:flex; justify-content:space-between; align-items: flex-end; margin-top: 5px;">

            <div style="display: flex;">

              <div *ngIf="x.warranty_id"
                style="margin-right: 3px; width: max-content; text-align: center; padding: 4px 8px; font-size: 10px; font-weight: 400; box-shadow: 0 0 6px 0 #ccc; background: #ffffff; color: #6DAD48; display: flex; align-items: flex-end;">
                Warranty
              </div>

              <div
                [ngStyle]="{'background': x.sales_status == null ? 'black' : x.sales_status == 'Quotation' ? '#a3ed53' : x.sales_status == 'Deposit' ? '#80e316' : x.sales_status == 'Full Payment' ? '#6DAD48' : ''}"
                style="width: max-content; text-align: center; padding: 4px 8px; font-size: 10px; font-weight: 400; box-shadow: 0 0 6px 0 #ccc; background: #6DAD48; color: #FFFFFF; display: flex; align-items: flex-end;">
                {{x.sales_status || 'Appointment'}}
              </div>

            </div>

            <div style="display: flex; align-items: center;">

              <ion-button
                style="margin: 0; margin-right: 2.5px; padding: 0; color: black; font-size: 10px; --background:white !important; min-width: 45px; max-width: 45px; min-height: 25px; 
              max-height: 25px; font-weight: 600; display: flex; justify-content: center; align-items: center; box-shadow: 0 0 6px 0 #ddd;"
                (click)="mapnavigate(x.lattitude, x.longtitude, x.address)">MAP</ion-button>

              <ion-button
                style="margin: 0; padding: 0; --background:white !important; min-width: 45px; max-width: 45px; min-height: 25px; 
                  max-height: 25px; display: flex; justify-content: center; align-items: center; box-shadow: 0 0 6px 0 #ddd;"
                *ngIf="x.customer_phone && x.customer_phone.slice(0, 1) == '6'"
                href="{{x.customer_phone.slice(0, 1) == '6' ? whatsapplinkheader + x.customer_phone : whatsapplinkheader + '6' + x.customer_phone}}">
                <ion-icon style="color: black; font-size: 12px;" name="logo-whatsapp"></ion-icon>
              </ion-button>
            </div>

          </div>

        </div>

        <!-- <div style="position: absolute; bottom: -60px; right: 0; display:flex; width: 100%;"> -->

        <!-- <div [ngStyle]="{'right': x.customer_phone ? '65px' : '5px'}" 
           style="min-width: 60px; max-width: 60px; min-height: 30px; max-height: 30px; position: absolute; bottom: -30px;">
            <ion-button style="color: black; background:white; min-width: 60px; max-width: 60px; min-height: 30px; max-height: 30px; font-weight: 600;" 
            (click)="mapnavigate(x.lattitude, x.longtitude, x.address)">MAP</ion-button>
          </div>
  
          <div style="min-width: 60px; max-width: 60px; min-height: 30px; max-height: 30px; position: absolute; bottom: -30px; right: 5px;">          
            <ion-button style="background:white; min-width: 60px; max-width: 60px; min-height: 30px; max-height: 30px;" *ngIf="x.customer_phone && x.customer_phone.slice(0, 1) == '6'" href="{{whatsapplinkheader + x.customer_phone}}">
              <ion-icon style="color: black;" name="logo-whatsapp"></ion-icon>
            </ion-button>
            <ion-button style="background:white; min-width: 60px; max-width: 60px; min-height: 30px; max-height: 30px;" *ngIf="x.customer_phone && x.customer_phone.slice(0, 1) != '6'" href="{{whatsapplinkheader + '6' + x.customer_phone}}">
              <ion-icon style="color: black;" name="logo-whatsapp"></ion-icon>
            </ion-button>
          </div> -->

        <!-- </div> -->
      </div>

      <!--Tab1 content list with full payment-->
      <!-- <div *ngFor="let x of appointmentwithpaymentdone"
        style="display: flex; width: 90%;  margin-bottom: 20px; position: relative;">
  
        <div style="width: 3%; background: #B9D6A8; border-radius: 5px 0 2.5px 5px; box-shadow: 0 1px 0 0 #B9D6A8;">
        </div>
  
        <div
          style="display: flex; flex-direction: column; width: 97%; background-color: #E4EFDE; padding:16px; border-radius: 0 4px 4px 0;">
  
          <div (click)="godetail(x.appointment_id)" style="width: 100%;">
          <div *ngIf="x.sales_status"
            style="width: max-content; text-align: center; padding: 6px 8px; font-size: 12px; font-weight: 400; border-radius: 4px; background: #6DAD48; color: #FFFFFF; margin-bottom: 8px;">
             {{x.sales_status}}
          </div>
  
          <div style="display: flex; justify-content:space-between; align-items:flex-end; padding-bottom: 8px;">
            <div style="font-size: 20px; font-weight:600;">{{x.customer_name}}</div>
            <div style="color:#446828; font-size: 14px; font-weight:600;">{{x.appointment_time | date : 'hh:mm a'}}
            </div>
          </div>
  
          <div>
            <div style="display:flex; padding-bottom: 4px; align-items: center;">
              <ion-icon name="call" style="min-width: 20px; min-height:20px; color: #999; padding-right: 8px;">
              </ion-icon>
              <div style="font-size: 14px;">{{x.customer_phone}}</div>
            </div>
  
            <div style="display: flex; align-items: flex-start;">
              <ion-icon name="location" style="min-width: 20px; min-height:20px; color: #999; padding-right: 8px;">
              </ion-icon>
              <div style="font-size: 14px;">{{x.address}}</div>
            </div>
          </div>
  
          <div style="padding: 16px 0 0 0; width: 100%;">
            <div style="height: 1px; background: #6DAD48;width: 100%;"></div>
          </div>
  
          <div style="display: flex; align-items:center;width: 100%; padding-bottom: 8px; padding-top: 12px;">
            <div style="font-size: 14px; padding: 4px 8px;background: #7BB6A0; color: #FFFFFF; border-radius: 4px;">
              {{x.services}}</div>
          </div>
  
          <div style="display:flex; flex-wrap: wrap; padding-bottom: 8px;">
            <div *ngFor="let item of x.issues"
              style="min-width: max-content; margin-right: 6px; 
                    margin-bottom: 6px; color: #FFFFFF; font-size: 14px; padding: 4px 8px; border-radius: 4px; background: #2A3C62;">{{item}}</div>
          </div>
  
          <div *ngIf="x.saleexec_note" style="font-size: 14px;">*{{x.saleexec_note}}</div>
        
        </div>
          <div style="display: flex; width:100%; justify-content: flex-end;">
            <div style="min-width: 60px; max-width: 60px; min-height: 30px; max-height: 30px;">
             <ion-button style="color: black; background:white; min-width: 60px; max-width: 60px; min-height: 30px; max-height: 30px; font-weight: 600;" 
             (click)="mapnavigate(x.lattitude, x.longtitude, x.address)">MAP</ion-button>
           </div>
     
           <div style="min-width: 60px; max-width: 60px; min-height: 30px; max-height: 30px;">          
             <ion-button style="background:white; min-width: 60px; max-width: 60px; min-height: 30px; max-height: 30px;" 
             *ngIf="x.customer_phone && x.customer_phone.slice(0, 1) == '6'" href="{{whatsapplinkheader + x.customer_phone}}">
               <ion-icon style="color: black;" name="logo-whatsapp"></ion-icon>
             </ion-button>
             <ion-button style="background:white; min-width: 60px; max-width: 60px; min-height: 30px; max-height: 30px;" 
             *ngIf="x.customer_phone && x.customer_phone.slice(0, 1) != '6'" href="{{whatsapplinkheader + '6' + x.customer_phone}}">
               <ion-icon style="color: black;" name="logo-whatsapp"></ion-icon>
             </ion-button>
           </div>
          </div>
        </div>
  
      </div> -->

    </div>
  </div>


  <!--Tab2 content-->
  <!-- <div *ngIf="tab2 == true" [style.margin-top]="margintopforcontent2" -->
  <div *ngIf="tab2 == true"
    style="width: 100%; display: flex; flex-direction: column; align-items: center; color: black; margin-top: 15px;">
    <div *ngFor="let x of filterer2(appointmentAll) | paginate: { itemsPerPage: 5, currentPage: p }"
      style="display: flex; width: 92%;  margin-bottom: 10px;">
      <div style="width: 3%; background: #B9D6A8; border-radius: 5px 0 2.5px 5px; box-shadow: 0 1px 0 0 #B9D6A8;">
      </div>

      <div
        style="display: flex; flex-direction: column; width: 97%; background-color: #E4EFDE; padding:15px 12px 10px; border-radius: 0 4px 4px 0;">
        <div (click)="godetail(x.appointment_id)" style="width: 100%;">
          <div style="display: flex; justify-content:space-between; align-items:center; padding-bottom: 8px;">
            <div style="font-size: 16px; font-weight:600; width: 70%;">{{x.customer_name}}</div>
            <!-- <div style="color:#446828; font-size: 14px; font-weight:600;">{{x.appointment_time | date : 'hh:mm a'}} </div>-->
            <div
              style="color:#446828; font-size: 11px; font-weight:600; display: flex; flex-direction: column; align-items: flex-end;">
              <div>{{x.appointment_time | date : 'MMM d, y'}}</div>
              <div>{{x.appointment_time | date : 'h:mm a'}}</div>
            </div>
          </div>

          <div>
            <div style="display:flex; padding-bottom: 4px; align-items: center;">
              <ion-icon name="call"
                style="min-width: 14px; max-width: 14px; min-height:14px; max-height:14px; color: #999; padding-right: 8px;">
              </ion-icon>
              <div style="font-size: 12px; user-select: text;">{{x.customer_phone}}</div>
            </div>

            <div style="display: flex; align-items: flex-start;">
              <ion-icon name="location"
                style="min-width: 14px; max-width: 14px; min-height:14px; max-height:14px; color: #999; padding-right: 8px;">
              </ion-icon>
              <div style="font-size: 12px; user-select: text;">{{x.address}}</div>
            </div>
          </div>

          <div style="padding: 6px 0 0 0; width: 100%;">
            <div style="height: 1px; background: #6DAD48;width: 100%;"></div>
          </div>

          <div style="display: flex; align-items:center;width: 100%; margin-bottom: 5px; padding-top: 6px;">
            <div style="font-size: 12px; padding: 4px 8px;background: #7BB6A0; color: #FFFFFF; border-radius: 4px;">
              {{x.services}}</div>
          </div>

          <div style="display:flex; flex-wrap: wrap; margin-bottom: 4px;">
            <div *ngFor="let item of x.issues"
              style="min-width: max-content; margin-bottom: 3px; margin-right: 6px; color: #FFFFFF; font-size: 12px; padding: 4px 8px; border-radius: 4px; background: #2A3C62;">
              {{item}}</div>
          </div>

          <div style="font-size: 12px;">*{{x.saleexec_note || '*There is no remark here'}}</div>
          <div style="font-size: 12px; font-weight: 600;">Assd. by : {{x.sc_name || ''}}</div>

        </div>

        <!--button for whatsapp and map v1-->
        <div style="width: 100%; display:flex; justify-content:space-between; align-items: flex-end; margin-top: 5px;">

          <div style="display: flex;">

            <div *ngIf="x.warranty_id"
              style="margin-right: 3px; width: max-content; text-align: center; padding: 4px 8px; font-size: 10px; font-weight: 400; box-shadow: 0 0 6px 0 #ccc; background: #ffffff; color: #6DAD48; display: flex; align-items: flex-end;">
              Warranty
            </div>

            <div
              [ngStyle]="{'background': x.sales_status == null ? 'black' : x.sales_status == 'Quotation' ? '#a3ed53' : x.sales_status == 'Deposit' ? '#80e316' : x.sales_status == 'Full Payment' ? '#6DAD48' : ''}"
              style="width: max-content; text-align: center; padding: 4px 8px; font-size: 10px; font-weight: 400; box-shadow: 0 0 6px 0 #ccc; background: #6DAD48; color: #FFFFFF; display: flex; align-items: flex-end;">
              {{x.sales_status || 'Appointment'}}
            </div>

          </div>


          <div style="display: flex; align-items: center;">

            <ion-button
              style="margin: 0; margin-right: 2.5px; padding: 0; color: black; font-size: 10px; background:white; min-width: 40px; max-width: 40px; min-height: 20px; 
          max-height: 20px; font-weight: 600; display: flex; justify-content: center; align-items: center; box-shadow: 0 0 6px 0 #ddd;"
              (click)="mapnavigate(x.lattitude, x.longtitude, x.address)">MAP</ion-button>

            <ion-button
              style="margin: 0; padding: 0; background:white; min-width: 40px; max-width: 40px; min-height: 20px; 
              max-height: 20px; display: flex; justify-content: center; align-items: center; box-shadow: 0 0 6px 0 #ddd;"
              *ngIf="x.customer_phone && x.customer_phone.slice(0, 1) == '6'"
              href="{{x.customer_phone.slice(0, 1) == '6' ? whatsapplinkheader + x.customer_phone : whatsapplinkheader + '6' + x.customer_phone}}">
              <ion-icon style="color: black; font-size: 12px;" name="logo-whatsapp"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="filteredappointment.length > 5"
      style="width: 90%; display:flex; justify-content:flex-end; font-size: 12px;">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>


  <!--refresh button-->
  <div (click)="refresher()" *ngIf="tab2 == true" style="position: fixed; bottom:10px; right: 10px;">
    <ion-icon name="refresh-outline"
      style="font-size: 18px; color: #FFFFFF ; background: #6DAD48; padding: 8px; border-radius: 50%; box-shadow: 0 0 10px 0 #ddd;">
    </ion-icon>
  </div>


  <!-- //dengdengdengdeng -->
  <div style="height: 100%;" (touchstart)="showcalendar('off')">
    <div class='task-container'
      style="display: flex; width: 100%; flex-direction: column; align-items: center; height: 100%;">


      <div *ngIf="appointmentByMonth == ''"
        style="width: 100%; display: flex; justify-content: center; align-items: center; height: 90%;">
        <div style="width: 100%; display:flex; flex-direction: column; align-items: center; text-align: center;">
          <img src="assets/icon/nocontent-nobackground.gif" style="width: 90%;" />
          <div style="font-size: 18px; font-weight:600;">No Task Yet...</div>
        </div>
      </div>



      <div *ngFor="let x of appointmentByMonth | paginate: { itemsPerPage: 5, currentPage: p }"
        style="display: flex; width: 92%;  margin:10px 0 0 0; position: relative;">
        <!-- <div *ngIf="!x.appointment_status"
        style="background: rgba(255, 255, 255, 0.5);  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(-25deg); z-index: 1000;
         text-align: center; color: rgb(255, 255, 255); border: 2.5px solid red; border-radius: 5px; padding: 2px; font-size: 14px; letter-spacing: 0.9px; font-weight:700;">
        <div style="border: 3px dashed red; width: max-content; padding: 5px 25px; border-radius: 4px; background: rgba(255, 0, 0, 0.5);">
            CANCELLED
        </div>
        </div>

        <div *ngIf="x.appointment_status == true && x.kiv == true"
        style="background: rgba(255, 255, 255, 0.5);  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(-25deg); z-index: 1000;
         text-align: center; color: rgb(255, 255, 255); border: 2.5px solid YELLOW; border-radius: 5px; padding: 2px; font-size: 26px;  font-weight:700;">
        <div style="border: 3px dashed YELLOW; width: max-content; padding: 5px 35px; border-radius: 4px; background: rgba(255, 255, 0, 0.65); letter-spacing: 0.5rem;">
            KIV
        </div>
        </div> -->
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(-25deg); z-index: 1000;  text-align: center; 
        display: flex; flex-direction: column; justify-content: center; align-items: center;">
          <div *ngIf="x.label_s == 81" style="background: rgba(255, 255, 255, 0.5); text-align: center; color: rgb(255, 255, 255); border: 2.5px solid rgb(109,78,78); border-radius: 10px; padding: 2px; font-size: 14px; font-weight:700;
                display: flex; align-items: center; justify-content: center; margin: 5px 0;">
            <div style="border: 3px dashed rgb(109,78,78); width: 200px; height: max-content; padding: 2px 0; border-radius: 10px; background: rgba(109,78,78, 0.65);
                     display: flex; align-items: center; justify-content: center;">
              RE-SCHEDULE
            </div>
          </div>

          <div *ngIf="x.label_s == 80" style="background: rgba(255, 255, 255, 0.5); text-align: center; color: rgb(255, 255, 255); border: 2.5px solid red; border-radius: 10px; padding: 2px; font-size: 14px; font-weight:700;
                display: flex; align-items: center; justify-content: center;  margin: 5px 0;">
            <div style="border: 3px dashed red; width: 200px; height: max-content; padding: 2px 0; border-radius: 10px; background: rgba(255, 0, 0, 0.5);
                     display: flex; align-items: center; justify-content: center;">
              CANCELLED
            </div>
          </div>

          <div *ngIf="x.kiv == true && x.label_s != 80 && x.label_s != 81" style="background: rgba(255, 255, 255, 0.5); text-align: center; color: rgb(255, 255, 255); border: 2.5px solid YELLOW; border-radius: 10px; padding: 2px; font-size: 14px; font-weight:700;
                display: flex; align-items: center; justify-content: center;  margin: 5px 0;">
            <div style="border: 3px dashed YELLOW; width: 200px; height: max-content; padding: 2px 0; border-radius: 10px; background: rgba(255, 255, 0, 0.65);
                     display: flex; align-items: center; justify-content: center; text-shadow: 0 0 2px black;">
              KIV
            </div>
          </div>
        </div>

        <div [ngStyle]="{'background':(x.appointment_status == true && x.kiv == false) ? '#B9D6A8' : '#ccc'}"
          style="width: 3%; border-radius: 5px 0 2.5px 5px; box-shadow: 0 1px 0 0 #B9D6A8;">
        </div>

        <div [ngStyle]="{'background':(x.appointment_status == true && x.kiv == false) ? '#E4EFDE' : '#ddd'}"
          style="display: flex; flex-direction: column; width: 97%;  padding:15px 12px 10px; border-radius: 0 4px 4px 0;">


          <div (click)="godetail(x.appointment_id)" style="width: 100%;">
            <div style="display: flex; justify-content:space-between; align-items:center; padding-bottom: 8px;">
              <div style="font-size: 16px; font-weight:600; width: 70%;">{{x.customer_name}}</div>

              <div
                style="color:#446828; font-size: 12px; font-weight:600; display: flex; flex-direction: column; align-items: flex-end;">

                <div style="display: flex; justify-content: flex-end; text-align: right;">{{x.appointment_time | date :
                  'MMM d, y'}}</div>
                <div style="display: flex; justify-content: flex-end; text-align: right;">{{x.appointment_time | date :
                  'h:mm:ss a'}}</div>
              </div>
            </div>

            <div>
              <div style="display:flex; padding-bottom: 4px; align-items: center;">
                <ion-icon name="call"
                  style="min-width: 14px; max-width: 14px; min-height:14px; max-height:14px; color: #999; padding-right: 8px;">
                </ion-icon>
                <div style="font-size: 12px; user-select: text;">{{x.customer_phone}}</div>
              </div>

              <div style="display: flex; align-items: flex-start;">
                <ion-icon name="location"
                  style="min-width: 14px; max-width: 14px; min-height:14px; max-height:14px; color: #999; padding-right: 8px;">
                </ion-icon>
                <div style="font-size: 12px; user-select: text;">{{x.address}}</div>
              </div>
            </div>

            <div style="padding: 6px 0 0 0; width: 100%;">
              <div style="height: 1px; background: #6DAD48;width: 100%;"></div>
            </div>

            <div style="display: flex; align-items:center;width: 100%; padding-bottom: 5px; padding-top: 6px;">
              <div style="font-size: 12px; padding: 4px 8px;background: #7BB6A0; color: #FFFFFF; border-radius: 4px;">
                {{x.services}}</div>
            </div>

            <div style="display:flex; flex-wrap: wrap; padding-bottom: 4px;">
              <div *ngFor="let item of x.issues"
                style="min-width: max-content; margin-bottom: 3px; margin-right: 6px; color: #FFFFFF; font-size: 12px; padding: 4px 8px; border-radius: 4px; background: #2A3C62;">
                {{item}}</div>
            </div>

            <div style="font-size: 12px;">*{{x.saleexec_note || '*There is no remark here'}}</div>
            <div style="font-size: 12px; font-weight: 600;">Assd. by : {{x.sc_name || ''}}</div>

          </div>


          <!--button for whatsapp and map v1-->
          <div
            style="width: 100%; display:flex; justify-content:space-between; align-items: flex-end; margin-top: 5px;">

            <div style="display: flex;">

              <div *ngIf="x.warranty_id"
                style="margin-right: 3px; width: max-content; text-align: center; padding: 4px 8px; font-size: 10px; font-weight: 400; box-shadow: 0 0 6px 0 #ccc; background: #ffffff; color: #6DAD48; display: flex; align-items: flex-end;">
                Warranty
              </div>

              <div
                [ngStyle]="{'background': x.sales_status == null ? 'black' : x.sales_status == 'Quotation' ? '#a3ed53' : x.sales_status == 'Deposit' ? '#80e316' : x.sales_status == 'Full Payment' ? '#6DAD48' : ''}"
                style="width: max-content; text-align: center; padding: 4px 8px; font-size: 10px; font-weight: 400; box-shadow: 0 0 6px 0 #ccc; background: #6DAD48; color: #FFFFFF; display: flex; align-items: flex-end;">
                {{x.sales_status || 'Appointment'}}
              </div>

            </div>

            <div style="display: flex; align-items: center;">

              <ion-button
                style="margin: 0; margin-right: 2.5px; padding: 0; color: black; font-size: 10px; --background:white !important; min-width: 45px; max-width: 45px; min-height: 25px; 
              max-height: 25px; font-weight: 600; display: flex; justify-content: center; align-items: center; box-shadow: 0 0 6px 0 #ddd;"
                (click)="mapnavigate(x.lattitude, x.longtitude, x.address)">MAP</ion-button>

              <ion-button
                style="margin: 0; padding: 0; --background:white !important; min-width: 45px; max-width: 45px; min-height: 25px; 
                  max-height: 25px; display: flex; justify-content: center; align-items: center; box-shadow: 0 0 6px 0 #ddd;"
                *ngIf="x.customer_phone && x.customer_phone.slice(0, 1) == '6'"
                href="{{x.customer_phone.slice(0, 1) == '6' ? whatsapplinkheader + x.customer_phone : whatsapplinkheader + '6' + x.customer_phone}}">
                <ion-icon style="color: black; font-size: 12px;" name="logo-whatsapp"></ion-icon>
              </ion-button>
            </div>

          </div>

          <!-- sc photo -->
          <div *ngIf="x.sc_photo && x.sc_photo.length > 0"
            style="width: 100%; display: flex; justify-content: center; margin: 5px 0 0; flex-wrap: wrap;">
            <div
              style="width: 100%; display: flex; align-items: center; gap: 5px; background: #ffffff; border-radius: 10px; padding: 5px 10px; height: max-content; flex-wrap: wrap;">
              <div (click)="magnify(y)" *ngFor="let y of x.sc_photo"
              style="width: calc((100% - 10px - 30px) / 6); border-radius: 8px;height: 40px; display: flex; justify-content: center;">
                <img src="{{y}}" style="border-radius: 8px; height: 40px; object-fit: contain;" />
              </div>
            </div>
          </div>

          <div *ngIf="x.sc_video && x.sc_video.length > 0"
            style="width: 100%; display: flex; justify-content: center; margin: 5px 0 0; flex-wrap: wrap;">
            <div
              style="width: 100%; display: flex; align-items: center; gap: 5px; background: #ffffff; border-radius: 10px; padding: 5px 10px; height: max-content; flex-wrap: wrap;">
              <div (click)="videocontroller(y, 'open')" *ngFor="let y of x.sc_video"
              style="width: calc((100% - 10px - 30px) / 6); border-radius: 8px;height: 40px; display: flex; justify-content: center;">
              <video id="videoPlayer" style="width: 100%; height: 100%; object-fit: contain; ; ">
                <source src={{y}} type="video/mp4">
              </video>
              </div>
            </div>

          </div>

        </div>

      </div>
      <div *ngIf="appointmentByMonth.length > 5"
        style="width: 90%; display:flex; justify-content:flex-end; font-size: 12px;">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>

    </div>



  </div>


  <div *ngIf="video" style="width: 100%; height: 80vh; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 3000; backdrop-filter: blur(5px);">
    <div style="width: 100%; height: 90%; display: flex; justify-content: center; align-items: center; margin-bottom: 10px;">
      <video id="videoPlayer" style="width: 100%; height: 100%; object-fit: contain;" poster="assets/icon/poster.png" controls="true" autoplay loop>
        <source src={{video}} type="video/mp4">
      </video>
    </div>
  
    <div style="width: 100%; display: grid; place-items: center;">
      <div (click)="videocontroller(video, 'close')"
        style="width: 80%; background: black; color: white; font-size: 16px; font-weight: 600; border-radius: 15px; padding: 10px; text-align: center;">
        CLOSE
      </div>
  
    </div>
  </div>


  <!-- <div (click)="back()" style="z-index:1002; box-shadow: 0 0 10px 0 #ddd; position: fixed; bottom: 12px; left: 12px; width: 50px; height: 50px; border-radius: 50%; color: #FFFFFF; background:#6DAD48; display: flex; justify-content: center; align-items: center;">
    <ion-icon name="return-down-back-outline" style="width: 25px; height: 25px;"></ion-icon>
  </div> -->


</ion-content>