<ion-header>
  <div style="width: 100%;">
    <div style="width: 100%; position: relative;">

      <div style="width: 100%; background: transparent;">

        <div
          style="display: flex; justify-content:space-between; align-items: center; padding: 12px 16px; border-bottom: 1px solid #ddd; background-color: #6DAD48;">
          <ion-icon (click)='back()' style='font-size:16px;color: #FFFFFF;' name="chevron-back-outline">
          </ion-icon>
          <div
            style="color: #FFFFFF; font-size:16px; font-weight:600; display: flex; justify-content: center; align-items: center;">
            Service Form-PDF</div>
          <ion-icon style='font-size:20px;color: #FFFFFF; visibility: hidden;' name="chevron-back-outline">
          </ion-icon>
        </div>

      </div>

    </div>
  </div>
</ion-header>
<ion-content>

  <div style="width: 100%; display: flex; flex-direction: column; align-items: center; height: 100%;">

    <div style="width: 90%;" *ngFor="let x of serform">
      <div (click)="getpdf(x.serviceform)" style="display: flex; align-items: center; padding: 10px 0; margin: 10px 0; box-shadow: 0 0 6px 0 #ddd;">
        <img src="assets/icon/pdflogo.png" style="width: 20%;"/>
        <div style="width: 80%;">{{x.created_date | date : 'dd MMM yyyy hh:mm:ss a'}}</div>
      </div>
    </div>

    <div *ngIf="serform && serform.length < 1" style="width: 90%; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 90%;">
      <img src="assets/icon/nocontent-nobackground.gif" />
      <b>No service form yet</b>
    </div>

  </div>
</ion-content>
