<ion-content>
  <div style="width: 100%; display: flex; justify-content:space-between; align-items: center; padding: 13px 24px; background: #6DAD48;">

    <ion-icon (click)='back()' style='font-size:16px;color: #FFFFFF;' name="chevron-back-outline"></ion-icon>

    <div style="color: #FFFFFF; font-size:16px; font-weight:600;">Reset Password</div>

    <ion-icon style='font-size:20px;color: #FFFFFF; visibility: hidden;' name="chevron-back-outline"></ion-icon>

  </div>

  <div style="width: 100%; display: flex; justify-content: center; margin-top: 10px;">
    <div style="width: 90%;">
      <div>Please input your email for reset your password</div>
      <ion-input placeholder="Enter email" input="email" [(ngModel)]="email" style="border: 1px solid #999; font-size: 14px; border-radius: 5px; margin-top: 10px;"></ion-input>
    </div>
  </div>

  <div style="width:100%; display: flex; justify-content:center; margin-top: 30px; padding: 5px 10px; border-radius: 5px; background: #6DAD48; color: #ffffff;" (click)="sendemail()">
    Reset</div>

</ion-content>
